/**
    自定义样式
 */


@font-face {
    font-family: 'icomoon';
    src:  url('../../common/fonts/icomoon.eot?snsrp8');
    src:  url('../../common/fonts/icomoon.eot?snsrp8#iefix') format('embedded-opentype'),
    url('../../common/fonts/icomoon.ttf?snsrp8') format('truetype'),
    url('../../common/fonts/icomoon.woff?snsrp8') format('woff'),
    url('../../common/fonts/icomoon.svg?snsrp8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon', serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    color: #6E747D;
    content: "\e908";
    font-size: 24px;
}
.icon-medicine:before {
    content: "\e909";
    font-size: 24px;
}
.icon-uniE907:before {
    content: "\e907";
    font-size: 24px;
}
.icon-uniE900:before {
    content: "\e900";
    color: #5a5a5a;
    font-size: 24px;
}
.icon--:before {
    content: "\e901";
    color: #5a5a5a;
    font-size: 24px;
}
.icon-4:before {
    content: "\e902";
    font-size: 24px;
}
.icon-3:before {
    content: "\e903";
    font-size: 24px;
}
.icon-2:before {
    content: "\e904";
    font-size: 24px;
}
.icon-1:before {
    content: "\e905";
    font-size: 24px;
}
.icon-uniE904:before {
    content: "\e906";
    font-size: 24px;
}
.icon-success:before {
    color: #5fb878;
    content: "\e90a";
    font-size: 100px;
}


/* 页内填充 */
.wrapper-content {
    margin: 10px 10px 10px 10px
}

/* from表单上下间距 */
.form-item-my {
    margin-bottom: 0px;
}

.form-item-my5 {
    margin-bottom: 5px;
}

.form-item-my2 {
    margin: 5px 5px 5px 5px
}

.body-my {
    overflow: hidden;
}

.label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.label-info {
    background-color: #5bc0de
}

.label-warning {
    background-color: #f0ad4e
}

.label-danger {
    background-color: #FF5722
}

.label-width-my {
    width: 100px;
}

.layui-upload-img {
    width: 92px;
    height: 92px;
}

.layui-upload-img-bg {
    width: 190px;
    height: 190px;
}

.my-input-width{
    width: 440px;
}

.active {
    background: #6fc2fd;
    border: 1px solid #6fc2fd;
}

.aside-link {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aside-link:hover {
    background: #9dcdf6;
}

.display-my{
    display: none;
}