* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #378D7E;
}

body, html {
    color: #000000;
    font-size: 16px;
}

ul, li {
    list-style: none;
}

.service-wrapper {
    height: 660px;
    background: #FFFFFF;
    overflow: auto;
}

.service-box {
    height: 660px;
}

.progress-box {
    width: 100%;
    height: 30px;
}

.item-box {
    width: 400px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-right: 100px;
}

.middle {
    color: green;
}

.end {
    color: red;
}

.progress-item {
    width: 100px;
    text-align: center;
    display: inline-block;
}

.other-side {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.official-details {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    height: auto;
    border: 1px dashed #5FB878;
    position: relative;
    border-radius: 8px;
    padding: 10px 0;
}

.official-text {
    font-size: 12px;
    font-style: italic;
    color: #393D49;
    width: 98%;
    margin-top: 15px;
    line-height: 25px;
    padding: 0 10px;
}

.details-text {
    position: absolute;
    right: 10px;
    top: 0px;
}

.doctor-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.details-select {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.doctor-avatar {
    margin-left: 5px;
}

.doctor-response {
    width: auto;
    max-width: 320px;
    height: auto;
    padding: 10px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
}

.doctor-response::before {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 10px transparent solid;
    border-left: 11px transparent solid;
    border-right: 13px #FFFFFF solid;
    border-bottom: 10px transparent solid;
    position: absolute;
    right: 100%;
    top: 5px;
}

/* 患者样式 */
.patient {
    height: auto;
    /*margin-bottom: 30px;*/
    position: relative;
}

.patient-avatar {
    margin-right: 3px;
}

.patient-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2px;
    border-radius: 5px;
    position: relative;
}

.patient-response {
    width: auto;
    max-width: 320px;
    height: auto;
    padding: 10px;
    background: #A2E563;
    margin-right: 10px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}

.patient-response::after {
    display: inline-block;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 11px solid #A2E563;
    border-right: 13px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    right: -23px;
}

.patient-img-response {
    height: auto;
    /*margin-bottom: 95px;*/
    position: relative;
}

.patient-img-avatar {
    position: absolute;
    right: 15px;
    top: 0;
}

.response-img {
    margin-right: 70px;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.voice-box {
    width: 83px;
    height: 28px;
    line-height: 28px;
    margin-right: 20px;
    background: #d7e8e5;
    position: relative;
    border-radius: 14px;
}

.time {
    margin-right: 5px;
}

.text {
    text-align: right;
    /*max-width: 320px;*/
    width: auto;
    /*display: block;*/
    height: auto;
    /*position: absolute;
    top: -35px;*/
    position: relative;
    padding-right: 60px;

}

.sound-icon {
    width: 32px;
    height: 28px;
    line-height: 28px;
    background: no-repeat center / cover;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    margin-right: 5px;
    margin-top: -1px;
}

.sound-icon img {
    opacity: 1 !important;
}

.des-stand {
    color: #009688;
    font-size: 14px;
    font-style: italic
}

.chat {
    color:rgba(51,51,51,1);
    font-size:14px;
    margin-top: 20px;
    margin-left: 15px;
    font-weight:400;
    font-family:PingFang-SC-Regular;
}

.titile ul {
    width: 100%;
    height: 14px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.titile li {
    float: left;
}

.spot {
    width:4px;
    height:16px;
    float: left;
    background:rgba(55,141,126,1);
    border-radius:2px;
}

.titile-text {
    color:rgba(51,51,51,1);
    float: left;
    width:75px;
    height:14px;
    line-height: 16px;
    font-size:14px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
}


#queryBtn {
    width: 50px;
    height: 32px;
    border: 0;
    line-height: 32px;
    background:rgba(55,141,126,1);
    border-radius:0 4px 4px 0;;
}

#queryBtn span {
    color:rgba(255,255,255,1);
    width:28px;
    height:14px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
}

#keyword {
    height: 32px;
    border-radius:4px 0 0 4px;
}

#keyword::-webkit-input-placeholder {
    width:60px;
    height:12px;
    font-size: 12px;
    line-height: 12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
}

#keyword::-ms-input-placeholder {
    width:60px;
    height:12px;
    font-size: 12px;
    line-height: 12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
}

#keyword::-moz-placeholder {
    width:60px;
    height:12px;
    font-size: 12px;
    line-height: 12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
}

#keyword:-moz-placeholder {
    width:60px;
    height:12px;
    font-size: 12px;
    line-height: 12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
}

.layui-table-view {
    margin: 0 !important;
    border-radius:4px 4px 0 0;
}

#rollBar {
    border-width: 0;
    position: absolute;
    left: 10px;
    width: 16px;
    height: 80px;
    background-color: #d7e8e6;
    border-radius: 0 8px 8px 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 200;
}

#rollBar span {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes mymove
{
    from {width:1%;}
    to {width:100%;}
}

#rollObject {
    transition:all 1s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    width: 190px;
    position: fixed;
    z-index: 100;
    overflow-x: hidden;
}

.shrink {
    width: 0 !important;
}

.expand {
    width: 190px !important;
}

#rollQuestion {
    width: auto;
    padding-left: 5px;
    transition:all 1s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    margin-left: 190px;
}

.layui-col-md4 {
    font-size: 14px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    box-sizing: border-box;
    padding: 0 2px;
    margin-top: 8px;
    cursor: pointer;
}

.layui-col-md4 div{
    background-color: #f2f2f2;
    border-radius: 68px;
}

.key-font {
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

#table > div {
    margin-left: 4px;
    position: relative;
    height: 20px;
    top: 0;

}

#k {
    position: absolute;
    top: 0;
    left: 0;

}

#back {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/*#tab ul {
    margin-left: 4px;
}

#tab ul li {
    float: left;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0 6px;
}*/
