<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>问诊定义</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '${basePath}';
        var contextPath = '${contextPath}';
        var idMedCase = '$!{idMedCase}';
    </script>
</head>

<body>
<div style="margin: 0px 10px 0px 10px">
    <div class="layui-col-xs5">
        <table id="partConsTable" lay-filter="partConsTableFilter">
        </table>
    </div>

    <div class="layui-col-xs7">
        <form class="layui-form" id="consForm" lay-filter="consFormFilter" style="padding-top: 10px">
            <div hidden>
                <input name="idMedCaseList" id="idMedCaseList" hidden>
                <input name="idInquesCa" id="idInquesCa" hidden>
                <input name="idInques" id="idInques" hidden>
                <input name="idMedia" id="idMedia" hidden>
                <input name="sdType" id="sdType" hidden>
                <input name="fgCarried" id="fgCarried" hidden>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">问题<i class="iconfont icon-required"
                                                     style="color: #f03f2d"></i></label>
                <div class="layui-input-block my-input-width">
                    <input type="text" name="desInques" id="desInques" autocomplete="off" class="layui-input"
                           placeholder="请输入答案内容" lay-verify="required|desAnswer" lay-vertype="tips"
                           style="display:inline-block;width:382px;vertical-align:middle;
                           margin-right:-5px;border: 1px solid #C9C9C9;">
                    <button type="button" class="layui-btn layui-btn-primary" id="searchAnswer">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </div>

            <div class="layui-form-item form-item-my">
                <label class="layui-form-label">答案<i class="iconfont icon-required"
                                                     style="color: #f03f2d"></i></label>
                <div class="layui-input-block my-input-width">
                    <div>
                        <select name="idAnswer" id="idAnswer" autocomplete="off" lay-verify="required"
                                lay-vertype="tips" lay-filter="idAnswerSelectFilter"
                                style="width:100%;height:30px;width: 158px;">
                        </select>
                        <input name="desAnswer" id="desAnswer" type="text" autocomplete="off"
                               style="left:2px; width: 90%;height:26px;position: relative;top: -32px;padding-left: 5px; border: 0px"/>

                    </div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text ">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <input type="checkbox" name="fgReason" id="fgReason" value="1" title="是否需要说明理由">
                    <input type="checkbox" name="fgBack" id="fgBack" value="1" title="是否根据病人的回答反馈">
                </div>
            </div>

            <div class="layui-form-item ">
                <label class="layui-form-label">专家解读</label>
                <div class="layui-input-block my-input-width">
                <textarea name="desExpert" id="desExpert" class="layui-textarea" lay-verify="desAnswer"
                          lay-vertype="tips"
                          placeholder="请输入专家解读"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">多媒体</label>
                <div class="layui-input-inline" style="vertical-align: middle;width: 257px;">
                    <input id="path" name="path" placeholder="请上传文件" autocomplete="off"
                           class="layui-input layui-disabled" disabled>
                    <div id="uploadProgress" style="padding-top: 15px;display: none;">
                        <div class="layui-progress" lay-showpercent="true" lay-filter="demo">
                            <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                        </div>
                    </div>

                </div>
                <button type="button" class="layui-btn layui-btn-primary" id="test3"><i class="layui-icon"
                                                                                        style="color: #009688; font-weight: bold">&#xe608;</i>上传
                </button>
                <button type="button" class="layui-btn layui-btn-primary" id="preview"><i class="iconfont icon-look1"
                                                                                          style="color: #009688; font-weight: bold"></i>
                    预览
                </button>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <div class="layui-btn-group">
                        #if($!{showBtn} == 1)
                            <button id="add" type="button" class="layui-btn">
                                <i class="layui-icon layui-icon-add-1"></i>增加
                            </button>
                            <button id="save" class="layui-btn" lay-submit="" lay-filter="saveCons">
                                <i class="iconfont icon-save-copy"></i> 保存
                            </button>
                            <button class="layui-btn" lay-submit="" lay-filter="saveAsCons">
                                <i class="iconfont icon-lingcunwei"></i> 重载
                            </button>
                            <button id="reset" type="reset" class="layui-btn layui-btn-danger">
                                <i class="iconfont icon-reset"></i> 重置
                            </button>
                        #end
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="${contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.min.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.formautofill.js"></script>
<script src="${contextPath}/public/biz/js/biz/kb/part/kbConsFormController.js"></script>


<script type="text/html" id="partConsBar">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" title="删除">
            <i class="layui-icon layui-icon-delete"></i></button>
        <button class="layui-btn layui-btn-xs" lay-event="reset" title="恢复默认">
            <i class="iconfont icon-reset"></i></button>
        {{# if(d.fgCarried == '0'){ }}
        <button class="layui-btn layui-btn-xs" lay-event="edit" title="自定义">
            <i class="iconfont icon-edit"></i>
        </button>
        {{# } else { }}
        {{# } }}
    </div>
</script>

<script type="text/html" id="toolbarCons">
    <div class="layui-btn-container">
        <button type="button" id="bachAddConsAnswer" class="layui-btn layui-btn-sm layui-btn-normal"
                lay-event="bachAddConsAnswer">
            <i class="iconfont icon-icon-import"></i> 批量添加问诊
        </button>
    </div>
</script>

</body>
</html>