<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>评估指南</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="$!{contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '$!{basePath}';
        var contextPath = '$!{contextPath}';
        var idMedCase = '$!{idMedCase}';
        var tagFlag='$!{tagFlag}';
        var idMedicalrec = '$!{idMedicalrec}';
        var idTag ='$!{idTag}';
        var caseName ='$!{caseName}';
        var previewFlag = '$!{previewFlag}';
    </script>

</head>

<body class="body-my">
<div style="padding-top: 10px;">
    <form class="layui-form" id="kbPartGuideForm" lay-filter="kbPartGuideFilter">
        <div hidden>
            <input name="idMedCase" hidden>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">指南简介<i class="iconfont icon-required" style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <textarea placeholder="请输入指南简介" class="layui-textarea" name="guideContent" id="guideContent"
                          lay-verify="required" lay-vertype="tips" style="height: 150px;"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">指南说明<i class="iconfont icon-required" style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="LAY_avatarUpload"><i class="layui-icon"></i>上传文件</button>
                <button type="button" class="layui-btn layui-btn-normal" id="preview"><i class="iconfont icon-look2"></i> 预览</button>
                <div class="layui-inline layui-word-aux">
                    注：仅支持PDF文件上传
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input class="layui-input" lay-verify="required|url" lay-vertype="tips" autocomplete="off"
                       name="guideNotesUrl" id="guideNotesUrl">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                #if($!{showBtn} == 1)
                    <button id="saveBtn" class="layui-btn" lay-submit="" lay-filter="addKbPartGuide">
                        <i class="iconfont icon-save-copy"></i> 保存
                    </button>
                #end
            </div>
        </div>
    </form>

</div>

<script src="$!{contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="$!{contextPath}/public/biz/js/biz/kb/part/kbGuideFormController.js"></script>


</body>
</html>