@charset "utf-8";

/* 页头 */
.admin-top .toolbar{ float:right; padding-right:20px; width:500px; margin-top:10px; height:20px; line-height:20px;}
.admin-top .toolbar img{ float:right; margin-right:10px;}
.admin-top .toolbar span{ float:right; color:#ccc; line-height:20px; height:20px; margin-right:10px;}
.admin-top .toolbar span a{ color:#ccc;}
.admin-top .toolbar span a:hover{color:#FF6600; text-decoration: none;}

/* 页脚 */
.admin-foot{ text-align:center; height:25px; line-height:25px; color:#ccc; }
.admin-foot p{height:25px; line-height:25px;}

/* 菜单数 */
.menu-tree {
	background:#fff;
	width:182px;
	padding-left:3px;
}
.menu-tree h3 {font-size: 12px; margin:0px; cursor:pointer; height:30px;line-height: 20px;	}
.menu-tree h3 a {display: block; color: #000; height:30px; line-height: 30px; text-align: center;
	}
.menu-tree h3 a:hover{ text-decoration:none; color:#060;}
.menu-tree .content{
	margin-bottom:3px;
}
.menu-tree .content ul {display: block; padding-top:5px; padding-bottom:3px; margin: 0px;left: 0px;top: 0px;right: 0px;bottom: 0px;clip: rect(0px,0px,0px,0px);
	 }
.menu-tree .content ul li {line-height: 26px;color: #333;display: block;height: 26px;padding-left: 0px;}
.menu-tree .content ul a:link {line-height: 26px;color: #333;height: 26px;
	display: block;text-align: center;overflow: hidden;text-decoration: none;}
.menu-tree .content ul a:visited {line-height: 26px;color: #333;display: block;
	text-align: center;margin: 0px;padding: 0px;height: 26px;text-decoration: none;}
.menu-tree .content ul a:active {line-height: 26px;color: #333;height: 26px;
	display: block;text-align: center;margin: 0px;padding: 0px;overflow: hidden;text-decoration: none;}
.menu-tree .content ul a:hover {line-height: 26px;font-weight: bold;color: #2F4F62;
	text-align: center;display: block;margin: 0px;padding: 0px;height: 26px;text-decoration: none;}

/* 登录 */
.login{ width:100%;  background:#183a52;}
.login-content{height:380px; width:930px; position:relative; margin:100px auto 0 auto; }
.login-content fieldset{ display:block; margin:0px; padding:0px; border:0px none; position:relative; top:175px; left:330px; width:300px; height:90px; }
.login-content fieldset legend{ display:none;}
.login-content fieldset div{ margin-bottom:2px; clear:both; vertical-align:middle;}
.login-content fieldset div a{ color:#052b41;}
.login-content fieldset div a:hover{ text-decoration:none;}
.login-content fieldset div label{ height:25px; line-height:20px; width:60px; text-align:right; float:left; padding-right:10px; font-size:12px; }
.login-content fieldset div span{color:#052b41; line-height:20px; display:inline-block; height:20px; margin-left:5px; *padding-bottom:6px; _padding-bottom:7px; overflow:hidden;}
.login-content fieldset .inp2{  padding:1px 3px; background:#55afd2; border:1px solid #a7e2fc; width:100px; vertical-align:top;}
.login-content fieldset .login-btn{ float:right; position:absolute; top:0px; right:50px;}
.login-content fieldset .login-btn .btn2{  width:49px; height:44px; cursor:pointer; border:0;}
.login-content fieldset .zhpw{position:absolute; bottom:0px; right:0px; color:#8ac7e8;}
/* ------------ 树菜单 ---------------- */
div.ctrls {margin: 5px 0 0 0; text-align: left; border-bottom: 1px dashed black; }
.ctrls p {width:20px; float:left; margin: 5px; text-decoration: underline; cursor: pointer; vertical-align:middle;}
#tree1{color:#234745;}
#tree1 *{ color:#234745;}
.alt {display: none;}

/* main */
.main{ margin:5px 10px 5px 5px; background:#fff; width: 99%}
.main .memo{ margin:0 0 0; border:1px solid #9EAEB9; border-top:1px solid #fff; background-color: #ebf0f4; padding:0px;}
.main .memo div { margin:10px 10px 0; background-color: #fff; padding:10px;}
.main .memo div.salesman_note{padding:0; margin:0; background-color:#eff}
.main h2{ line-height:40px; height:35px; margin-bottom:10px; overflow:hidden; border-bottom:2px solid #eee; font-size:18px; text-indent:30px; background: url(icon/icon_2.png) 0 7px no-repeat;}
.main .mag-t1,.main .mag-t2,.main .mag-t0{ line-height:20px; margin:10px 0; color:#D84600; padding:5px 20px 5px 34px; border:1px solid #FEC799; background:#FEF0D0;
	}
.main .mag-t2{color:#2F5724; border:1px solid #6BC98A; }
.mag-t3{color:#D84600; padding:3px 5px 3px 10px; margin:10px 10px; border:1px solid #6BC98A;  height:auto; overflow:hidden;}
.mag-t4 span, .mag-t3 span{ padding-left:20px;}
/* inp */
.inp{ border:1px solid #b5b8c9; padding:2px; width:120px; background:url(main/inp_bg.png) 0 0 repeat-x;}
.inp-w30{ width:30px;}
.inp-w50{ width:50px;}
.inp-w70{ width:70px;}
.inp-w90{ width:90px;}
.inp-w105{ width:105px;}
.inp-w150{ width:150px;}
.inp-w160{ width:160px;}
.inp-w200{ width:200px;}
.inp-w300{ width:300px;}

/* Width & Height */
.w40{width:40px;}
.w60{width:60px;}
.w80{width:80px;}
.w100{width:100px;}
.w250{width:250px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w950{width:950px;}
.w960{width:960px;}
.w980{width:980px;}
.w1000{width:1000px;}
.w{width:100%;}
.h{height:100%;}
.h50{height:50px;}
.h80{height:80px;}
.h100{height:100px;}
.h200{height:200px;}
.select{ width:126px; padding:1px 2px; border:1px solid #b5b8c9;}
.textarea{border:1px solid #b5b8c9; padding:2px;}

/* btn */
.btn{ border:1px solid #b5b8c9; padding:0 10px; vertical-align:middle; height:21px; line-height:19px;
	background:url(main/inp_bg.png) 0 -75px repeat-x; cursor:pointer;}
.btn:hover{ border:1px solid #c4cfd5; color:#F90;}
 /* Buttons */
.button-s1, .button-s2, .button-s3, .button-s4, .button-s5, .button-s6, .button-s7, .button-s8, .button-s9, .button-s10, .button-s15, .button-s17{
	width:80px; border:0; margin:0 10px; cursor:pointer; font-size:13px; color:#fff; text-align:center; overflow:hidden;
	background-image: url(main/button_bg.png); background-repeat:no-repeat;outline:0;}
.button-s1{background-position: 0 0; height:32px; line-height:32px;}
.button-s2{background-position: 0 -35px; height:30px; line-height:30px;}
.button-s3{background-position: 0 -68px; height:36px; line-height:36px; width:100px;}
.button-s4{background-position: 0 -513px; height:27px; line-height:27px; width:100px; color:#069;}
.button-s5{background-position: 0 -140px; height:24px; line-height:24px; width:85px; color:#333; font-size:12px;}
.button-s6{background-position: 0 -168px; height:34px; line-height:34px; width:75px;}
.button-s7{background-position: 0 -204px; height:29px; line-height:29px; width:75px;color:#333; }
.button-s8{background-position: 0 -236px; height:43px; line-height:43px; width:148px; font-size:14px;color:#395b7a; font-weight:600;}
.button-s9, .button-s10{background-position: 0 -449px; height:27px; line-height:27px; width:75px; font-size:12px;color:#fff; font-weight:300;}
.button-s10{background-position: 0 -734px;}
.button-s15{background-position: 0 -480px; margin-left:5px;}
.button-s17{background-position: 0 -543px; margin-left:5px; height:23px; width:58px; color:#000;}
.button-s4:hover {background-position: 0 -664px;}
 
/* 搜索模块 */
.preservation, .searchBox{ background:#f6f8fa; border:1px solid #a7b9d1; margin-bottom:10px; clear:both; padding-bottom:10px;}
.searchBox table{ margin:10px 10px 3px 10px;}
.searchBox table th{ line-height:25px; width:110px; text-align:right; font-weight:300; padding-right:5px;}
.searchBox table td{ line-height:25px;}
.searchBox table td textarea{ width:300px; height:100px; margin:5px 0; border:1px solid #b5b8c9; padding:2px; font-size:12px;}
.searchBox table td button{ margin-right:10px;}
.preservation h3, .searchBox h3{ height:27px; line-height:27px; background:url(main/inp_bg.png) 0 -39px repeat-x;}
.preservation h3 span, .searchBox h3 span{ padding-left:28px; color:#303c66;}
.searchBox h3 img{ float:right; cursor:pointer;}

/* 列表模块 */
.listBox{border:1px solid #a7b9d1;}
.listBox li{ display:none;}
.listBox li.hover{ display:block;}
.listBox h3{height:28px; line-height:28px; background:url(main/inp_bg.png) 0 -122px repeat-x;}
.listBox h3 span{ padding-left:28px; line-height:28px; height:28px; display:block; color:#303c66;width:120px;}
.listBox h3 a{padding-left:28px; margin-right:20px; line-height:28px; height:28px; display:block; color:#303c66;}
.listBox h3 a:hover{ text-decoration:none;}
.listBox table{ width:100%;}
.listBox table th{ line-height:25px; border:1px solid #d1d7e0; border-top:0 none; background: #ebf0f4;}
.listBox table td{ line-height:20px; padding:5px; border-bottom:1px solid #ebeef2;border-top:1px solid #fff; text-align:center;}
.listBox table tr.bg { background:#f7fafb;}
.listBox table tr:hover { background:#fbf5fe;}
.listBox table tr.align-left td{ text-align:left;}
.listBox table tr td.align-left{ text-align:left;}
.listBox table tr.align-right td{ text-align:right;}
.listBox table tr td.align-right{ text-align:right;}
.listBox table tr.align-center td{ text-align:center;}
.listBox table tr td.align-center{ text-align:center;}
/*.listBox table td a{text-align:center;text-decoration:none; color:#4674a6;	border:#99bce4 1px solid;padding:0px 5px;margin-left:3px;}*/
/*.listBox table td a:hover {text-decoration:none;background-color:#E7FAFE;border:#7DC0F7 1px solid;color:#FF9900;}*/
.d1{ border:1px solid #ccc; height:100%; overflow:hidden; padding:0 0 5px 5px;}
.d1 h5{ margin:5px 5px 0 5px;}
.d1 li{ float:left; width:120px; text-align:center; margin-top:8px;}
.d1 img{ height:100px; width:100px; padding:1px; margin:2px; border:1px solid #ccc; }
.d1 span{ text-align:center;}

/* 分页 */
.page-size{float: right;}
.page-size li{ height:27px; line-height:27px; float:left; margin-right:5px; white-space:nowrap;  }
.page-size a {text-align:center;text-decoration:none; color:#4674a6; border:#99bce4 1px solid;padding:0px 5px;margin-left:3px;}
.page-size a:hover {text-decoration:none;background-color:#E7FAFE;border:#7DC0F7 1px solid;color:#FF9900;}
.pages-box{
	height:26px;
	overflow:hidden;
	background: #ebf0f4;
	border-top: 1px solid white;
}
.pages {margin:3px 10px 10px 5px; vertical-align:middle; text-align:right; color:#333;}
.pages a {text-align:center;text-decoration:none; color:#4674a6;	border:#99bce4 1px solid;padding:0px 5px;margin-left:3px;}
.pages b{ color:#1a3a60;}
.pages a:hover {text-decoration:none;background-color:#E7FAFE;border:#7DC0F7 1px solid;color:#FF9900;}
.pages input {color:#87a32e;border:#76bac2 solid 1px;padding:1px;margin-top:1px;height:13px;}
.pages input:hover {border:#FF9900 solid 1px;}

/* 小按钮工具组 */
.tool{ padding:10px 10px 2px 0; text-align:left;}
.tool a{margin: 0px 5px 0px 0px;text-decoration:none;color:#24496F; font-family:"宋体"; display:inline-block; height:19px; line-height:19px; padding:0 5px 0 22px;}
.tool span {background: url(main/but_bg.gif) right -178px no-repeat; white-space:nowrap; margin:0 5px 7px 0; height:19px; display:inline-block; }
.tool span a, .tool span a.bt_add, .tool span a.bt_del, .tool span a.bt_par, .tool span a.bt_edit, .tool span a.bt_ren, .tool span a.bt_all, .tool span a.bt_no{background-image: url(main/but_bg.gif); background-repeat:no-repeat; font-family:"宋体"; height:19px;}
.tool span a{background-position: 0 -141px;}
.tool span a.bt_add{background-position: 0 -29px;}
.tool span a.bt_del{background-position: 0 -50px;}
.tool span a.bt_par{background-position: 0 -71px;}
.tool span a.bt_edit{background-position: 0 -92px;}
.tool span a.bt_ren{background-position: 0 -113px;}
.tool span a.bt_all{background-position: 0 -134px;}
.tool span a.bt_wu{background-position: 0 -156px;}
.tool span a.bt_no{background-position: 0 -200px;}

.tool a:hover{color:#FF6600; text-decoration:none;}

input.button_add, input.button_ed, input.button_del{border:0px;height:19px; width:20px; margin-left:3px; margin-right:5px; cursor:pointer;}



/* 表单 */
.form-tab{ margin-left:10px;height:27px; line-height:27px; }
.form-tab li{ height:27px; line-height:27px; float:left; margin-right:5px; background: url(main/bg2.gif) right -119px no-repeat;white-space:nowrap;  }
.form-tab li span{ float:left;height:27px; line-height:27px; background: url(main/bg2.gif) 0 -119px no-repeat;
	 margin-right:20px !important; margin-right:0px;  text-indent:20px; font-size:12px; font-weight:600; color:#5e8ab9;}
.form-tab li span a{font-size:12px; font-weight:600; color:#5e8ab9;height:27px; line-height:27px;}
.form-tab li.c{ background: url(main/bg2.gif) right -91px no-repeat; }
.form-tab li.c span{ background: url(main/bg2.gif) 0 -91px no-repeat; color:#213b50; text-indent:20px; font-size:12px; font-weight:600;}
.form-tab li.c span a{color:#213b50; }
.form-tab li span a:hover{ color:#FF9900;}	 

.formBox{ margin:0; border-collapse:collapse;}
.formBox h3{height:29px; line-height:27px; overflow:hidden; background:url(main/inp_bg.png) 0 -162px repeat-x;}
.formBox h3 span{color:#303c66; float:left; width:200px; height:29px; padding-left:28px; background:url(main/left-top-right.gif) no-repeat;}
.formBox h3 i{height:29px; float:right; width:8px; }
.formBox h4{ line-height:20px; height:20px; overflow:hidden; text-indent:10px; margin-top:10px; }
.formBox h5 span{color:#793056; font-size:14px; margin:20px; line-height:30px;}
.formBox h5 span.warning { color:red; font-size:13px;  padding-left:20px; }
.formBox .content{
	border:1px solid #9eaeb9;
	background:#f7fafb;
	padding:10px 0;
	border-collapse:collapse;
}
.paste {
	width:100%;
	padding-left:20px;
}
.formBox .c2{ width:700px; margin:0px 0;}
.formBox .c2 th{ width:150px; text-align:right; font-weight:300; padding:5px 10px 5px 0; line-height:25px; color:#333;}
.formBox .c2 td{ line-height:25px;padding:5px 0;}

.formBox .c2 td input.inp{width:200px;}
.formBox .c2 .textarea{ width:300px; height:100px; font-size:12px;}
.formBox .c2 select{ width:165px;}

.formBox .c4 th{ width:150px; text-align:right; padding:5px 10px 5px 0; line-height:20px; color:#333;}
.formBox .c4 td input.inp{ padding:1px;width:130px;}
.formBox .c4 .textarea{ width:500px; height:100px;}
.formBox .c4 select{ width:135px;}

.formBox .c5{ width:575px; margin:0px 0;}
.formBox .c5 th{ width:100px; text-align:right; padding:5px 10px 5px 0; line-height:30px; color:#333; font-weight:300;}
.formBox .c5 td{ padding:5px 0 5px 2px;}
.formBox .c5 td input.inp{ padding:2px;}
.formBox .c5 td img{ border:1px solid #ccc; padding:1px; width:90px; height:90px;}
.formBox .c5 td em{ color:#F00; padding:0 5px;}
.formBox .c5 .textarea{ width:500px; height:100px; font-size:12px;}
.formBox .c5 select{ width:135px;}
.formBox .c5 label{ margin-right:10px; display: inline-block; line-height:0px;}


.formBox .c6{ width:100%; border-collapse:collapse;}
.formBox .c6 th{ border-collapse:collapse; border:1px solid #ccc; width:80px; text-align:right; padding:0; line-height:20px; color:#333;}
.formBox .c6 td{ border-collapse:collapse; border:1px solid #ccc; background:#fff; padding:0;}
.formBox .c6 td input{ width:98%;border:0; background:#ffe; }
.formBox .c6 td select{ width:98%;border:0; background:#ffe; }
.formBox .c6 textarea{ width:99%; font-size:12px;border:0;background:#ffe;margin-right: 5px; resize: none;}
.formBox .c6 select{ width:100%;}

.formBox td span{ margin-left:10px; color:#999;} 
.formBox td span.red{ color:#F00;}
.formBox td span.error{ color:#F00;}

input.checkbox{ margin-left:10px;}
.form-but{
	text-align:center;
	margin:0 0 10px 0;
	clear:both;
	padding:10px;
	border:1px solid #9EAEB9;
	border-top:1px solid #fff;
	background-color: #ebf0f4;
}

/*欢迎页*/
.welcome{ width:550px; height:450px; position:relative; overflow:hidden; margin:10px auto 30px auto; }
.welcome ul{ position:absolute; top:180px; left:100px;  display:block;}
.welcome ul li{ line-height:25px;}
.welcome ul li span{ color:#999;}
.welcome ul li strong{ color:#F60; font-size:14px;}
.welcome p{ position:absolute; top:290px; left:100px;  display:block;}
.welcome p a{ float:left; margin-right:10px;}

.r-error, .r-success{ margin:50px auto; width:80%; position:relative;  border:1px solid #df8832; height:150px;}
.r-error h3, .r-success h3{ margin-left:160px; line-height:30px; padding:20px 10px; font-size:18px; color:#ff6600;}
.r-error .button-s9, .r-success .button-s10{ margin-left:180px;}
.r-error p, .r-success p{ position:absolute; bottom:8px; left:175px; line-height:30px; color:#666;}
.r-error p a, .r-success p a{ text-decoration:underline; color:#069; padding:0 3px;}

.r-success{ border:1px solid #42b800;}
.r-success h3{ color:#000;}

/*收藏商品详情*/
.preservation{ height:100%; overflow:hidden;}
.goods-ph{ float:left;}
.goods-ph img{ width:130px; padding:1px; border:1px solid #ccc; margin:5px;}
.goods-skin{ float:left;}
.goods-skin li{ height:25px; line-height:25px;}
.goods-skin li span{ display:inline-block; width:70px; text-align:right; margin-right:10px; background:none;}


/*发布商品选择类别*/
.container{border:1px solid #a7b9d1; height:100%; overflow:hidden; padding:0 0 4px 4px;}
.container ol{ display:block; width:176px; height:280px; overflow:auto; float:left; border:1px solid #a7b9d1; margin:4px 4px 0 0; padding:0 4px;}
.container ol li{ height:20px; line-height:20px; text-indent:5px;}
.container ol li.selected{ background-color:#d6edf4; border:1px solid #a7b9d1;}
.container_list{color:#2F5724; border:1px solid #6BC98A; height:30px; line-height:30px; margin:20px 0 10px 0; padding:0 20px 0 34px; position:relative;}
.container_list b{ position:absolute; top:-12px;; left:50px; height:12px; width:17px; display:block; overflow:hidden; }
.container_list span{ padding-left:10px; margin-right:5px;}
.container_list span.root{ background:none;}
.center{ margin:0 auto; text-align:center;}

/*添加商品属性页表单*/
.form{ width:760px; height:100%; overflow:hidden;}
.form ol{}
.form ol li{ padding-left:35px; clear:left;  line-height:24px;}
.form ol li label{ width:90px; float:left; text-align:right;}
.form ol li div.con{ display:block; height:100%; overflow:hidden;  float:left; width:585px;}
.form ol li div > ul{}
.form ol li div > ul li{ clear:none; float:left;  padding-left:5px;}
.form ol li div > ul li label{ display: inline-block; float:none; text-align:left; width:auto;}
.form ol li div > label.ys{text-align:left; width:14px; height:14px;}
.form ol li div > ul li em{ color:#F00; padding:0 5px;}
.form ol li div > ul li span{color:#999; display:inline; margin-left:5px;}
.form ol li div > ul li span.error{ color:#F00;}
.form .textarea{width:574px; height:100px; font-size:12px; margin:5px 5px;}
.skin{
	border:1px solid #ECECEC;
	background-color:white;
	margin:10px 0;
	margin-left:5px;
	height:100%;
	overflow:hidden;
}
.skin ul.form-tab{ margin-top:5px;}
.skin ul.form-tab li{ margin-left:0px; padding-left:0;}
.skin ul.form-tab li span{margin-left:0px;}
.skin-con{ margin-top:0px; height:100%; overflow:hidden;}
.skin-con .textarea{ width:550px; margin-top:0;}
.skin table td label{width:auto;}
.skin table label.ys{clear:left; margin:3px 0 0 10px; }
.ttali-cent{ text-align:center;}


/*弹出浮动层*/
#layer{ position:absolute;top:0;left:0;right:0;background:0;visibility:hidden; filter:alpha(opacity=20); background-color:#333; z-index:9; } 
#layer2{position:absolute; z-index:10; visibility:hidden; }
#layer2 .searchBox{ border-width:4px;}
#layer2 .searchBox table{ margin-right:50px;}

/*待办事项浮动层*/
#winpop { height:0px; position:absolute; right:0; bottom:0; border:1px solid #999999; margin:0; padding:1px; overflow:hidden; display:none; background:#FFFFFF; display:inline;}
#winpop .title {height:20px; line-height:20px; background:#bfc6d5; font-weight:bold; text-align:center; font-size:12px;}
#winpop .con {  font-size:12px; color:#FF0000; padding:5px 5px;}
#winpop .con a{ margin-left:5px;}
#silu { font-size:13px; color:#999999; position:absolute; right:0; text-align:right; text-decoration:underline; line-height:22px;}
.close { position:absolute; right:4px; top:-1px; color:#FFFFFF; cursor:pointer}
