<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>模拟评估</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="$!{contextPath}/public/biz/css/common.css">
    #*<link rel="stylesheet" href="$!{contextPath}/public/biz/css/exam.css">*#
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '$!{basePath}';
        var idTestplanDetail = '$!{idTestplanDetail}';
        var idTestplan = '$!{idTestplan}';
        var idDemo = '$!{idDemo}';
        var idMedicalrec = '$!{idMedicalrec}';
        var idTestpaper = '$!{idTestpaper}';
        var idStudent = '$!{idStudent}';
        var idTestexecResult = '$!{idTestexecResult}';
        var autoAssess = '$!{autoAssess}';

    </script>

    <style>
        .header-left, .header-right {
            float: left;
            display: inline-block;
            height: 100px;
            position: relative;
            display: flex;
            align-items: center;
        }

        .header-right {
            width: 500px;
            margin-top: -2px;
            margin-left: 20px;
            position: relative;
        }

        .msg {
            display: inline-block;
            width: 320px;
            margin-left: 10px;
            margin-top: 8px;
        }

        .users-item {
            height: 20px;
            color: blue;
            padding-right: 5px;
            border-right: 1px solid blue;
        }

        .msg-mail, .msg-tel {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .right-main {
            width: 500px;
            border: 1px solid #999999;
            padding-right: 5px;
        }

        .details-header {
            font-size: 20px;
        }

        .details-text {
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .details-head {
            width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .user-details {
            display: inline-block;
            width: 450px;
            height: 100%;
            margin-left: 10px;
            border: 1px solid #999999;
            margin-top: -3px;
        }

        .time {
            display: inline-block;
            width: 190px;
            text-align: right;
            margin-left: 10px;
        }

        header {
            width: 1200px;
            height: 100px;
            padding: 10px 0 0 0;
        }

        .details-icon {
            float: left;
        }

        .no-border {
            border-right: none;
            padding-right: 0;
        }

        .titile {
            padding-top: 10px;
            padding-bottom: 20px;
        }

        .spot {
            width:4px;
            height:16px;
            float: left;
            background:rgba(55,141,126,1);
            border-radius:2px;
        }

        .titile-text {
            color:rgba(51,51,51,1);
            float: left;
            width:90px;
            height:14px;
            line-height: 16px;
            font-size:14px;
            font-family:MicrosoftYaHei-Bold;
            font-weight:bold;
            color:rgba(51,51,51,1);
        }
        .disc {
            width:8px;
            height:8px;
            display: inline-block;
            background:rgba(55,141,126,1);
            margin-right: 3px;
            border-radius:50%;
        }

        .diagnose-title {
            color:rgba(51,51,51,1);
            width:77px;
            height:14px;
            font-size:14px;
            font-family:MicrosoftYaHei;
            font-weight:400;
        }
        .referral {
            border:1px solid rgba(239,241,244,1);
            background:rgba(255,255,255,1);
            border-radius:4px;
            margin-bottom: 20px;
        }
    </style>

    <style>
        /* 使得input与单元格刚好合适 */
        td .layui-input{
            margin-top: 0px;
            margin-left: -10px;
            margin-right: -15px;
        }

    </style>
</head>

<body style="overflow-x: hidden">
<div class="layui-row" style="padding-top: 20px;">
    <div class="layui-col-md6">
        <div class="header-left" style="float: right">
            <div class="user-details">
                <img src="${contextPath}/public/biz/img/exam/degree-1.png" alt="" class="details-icon"
                     style="width: 105px; height: 100px;">
                <div class="msg">
                    <p class="users">
                        <span class="users-item">$!examInfo.studentInfo.realName</span>
                        <span class="users-item">$!examInfo.studentInfo.sex</span>
                        <span class="users-item">$!examInfo.studentInfo.orgName</span>
                        <span class="users-item">$!examInfo.studentInfo.className</span>
                        <span class="users-item no-border">学生</span>
                    </p>
                    <p class="msg-mail">
                    #*<img src="${contextPath}/public/biz/img/exam/email.png" alt="" style="width: 32px; height: 32px;">*#
                        <i class="iconfont icon-youjian"
                           style="color: #1E9FFF;"></i>&nbsp;<span>$!examInfo.studentInfo.email</span>
                    </p>
                    <p class="msg-tel">
                    #*<img src="${contextPath}/public/biz/img/exam/tel.png" alt="" style="width: 32px; height: 32px;">*#
                        <i class="iconfont icon-shouji1"
                           style="color: #01AAED;"></i>&nbsp;<span>$!examInfo.studentInfo.phoneNo</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="header-right">
            <div class="right-main">
                <img src="${contextPath}/public/biz/img/exam/paper1.png" alt="" class="details-icon"
                     style="width: 122px; height: 100px;">
                <div class="paper-details">
                    <input id="idTestexec" value="$!examInfo.paperInfo.idTestexec" hidden>
                    <input id="idTestexecResult" value="$!examInfo.paperInfo.idTestexecResult" hidden>
                    <p class="details-header">$!examInfo.paperInfo.testPaperName</p>
                    <p class="details-text">
                        <span class="details-head">出题机构：$!examInfo.paperInfo.orgName</span>
                        <span class="time">开始时间：<span id="beginTime">$!examInfo.paperInfo.beginTimeStr</span></span>
                    </p>
                    <p class="details-text">
                        <span class="details-head">出题人：$!examInfo.paperInfo.paperCreator</span>
                        <span class="time">完成时间：<span id="endTime">$!examInfo.paperInfo.endTimeStr</span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-row" style="text-align: center">
    <div class="layui-col-md2" style="padding-top: 5px;">
        <form>
        #*模拟按钮*#
            <button id="test" type="button" class="layui-btn layui-btn-normal"
                    lay-href="" style="display: none">
                <i class="iconfont icon-monikaoshi"></i><span id="patName">$!examInfo.studentInfo.realName</span>学生:模拟就诊
            </button>
            <div class="layui-form-item form-item-my5">
                <div class="layui-inline">
                    <button class="layui-btn" type="button" id="queryMed">
                        <i class="iconfont icon-query"></i> 查询病例
                    </button>
                </div>
            </div>
            <div class="layui-form-item form-item-my5">
                <div class="layui-inline">
                    <button class="layui-btn" type="button" id="accessMed">
                        <i class="layui-icon layui-icon-edit"></i>病例评估
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-col-md8">
        <table lay-even class="layui-table">
            <thead>
            <tr id="scoreTitle">
               #* <th>诊断表现得分</th>
                <th>临床思维得分</th>
                <th>临床思维评价</th>
                <th>医嘱得分</th>
                <th>病例书写得分</th>
                <th>知识掌握得分</th>
                <th>总得分</th>*#
            </tr>
            </thead>
            <tbody>
            <tr id="score">
               #* <td>4.2</td>
                <td>13.35</td>
                <td id="pjResult">合格但滥用检查</td>
                <td>9.2</td>
                <td>1.0</td>
                <td>0.8</td>
                <td>22</td>*#
            </tr>
            </tbody>
        </table>
    </div>
    <div class="layui-col-md2">
    </div>
    <hr style="margin: -10px 30px 0 30px; background-color: #999999">
</div>

<div class="layui-row">
    <div class="layui-col-md12" style="margin: 0px 30px 0 30px; ">
        <div class="layui-tab layui-col-xs12" lay-filter="tagTabFilter">
            <ul class="layui-tab-title">
                <li class="layui-this">病例评估</li>
                <li>执行日志</li>
                <li>诊断分析</li>
                <li>分值雷达</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-row" style="text-align: center; margin: -10px 30px 0 -10px;">
                        <div class="layui-col-md6" style="padding-right: 10px;">
                            <table id="demo" lay-filter="demoFilter"></table>
                        </div>
                        <div class="layui-col-md6">
                            <div style="padding-top: 10px" id="guideContentText">
                                <div class="titile">
                                    <ul>
                                        <li >
                                            <span class="spot"></span>
                                            <span class="titile-text">&nbsp;评估指南</span>
                                        </li>
                                    </ul>
                                </div>
                                <textarea name="guideContent" id="guideContent" class="layui-textarea"
                                      style="height: 600px; padding-top: 10px" disabled></textarea>
                            </div>
                            <div style="padding-top: -10px">
                                <table id="dimensionResult" style="margin-top: 0px;"></table>
                            </div>

                            <div id="bsxj" style="padding-top: 10px; display: none">
                                <div class="titile">
                                    <ul>
                                        <li >
                                            <span class="spot"></span>
                                            <span class="titile-text">&nbsp;病史小结</span>
                                        </li>
                                    </ul>
                                </div>

                                <textarea name="desSumaryHpi" id="desSumaryHpi" class="layui-textarea"
                                          style="height: 400px;" disabled></textarea>
                            </div>
                            <div id="bqms" style="display: none">
                                <div class="layui-col-md12">
                                    <div class="titile">
                                        <ul>
                                            <li >
                                                <span class="spot"></span>
                                                <span class="titile-text">&nbsp;问诊小结</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <div>
                                            <textarea name="desConditionHpi" id="desConditionHpi" class="layui-textarea" style="height: 170px;" disabled></textarea>
                                        </div>
                                    </div>

                                    <div class="titile">
                                        <ul>
                                            <li >
                                                <span class="spot"></span>
                                                <span class="titile-text">&nbsp;体检小结</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <div>
                                            <textarea name="desConditionPe" id="desConditionPe" class="layui-textarea" style="height: 170px;" disabled></textarea>
                                        </div>
                                    </div>

                                    <div class="titile">
                                        <ul>
                                            <li >
                                                <span class="spot"></span>
                                                <span class="titile-text">&nbsp;辅检小结</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <div>
                                            <textarea name="desConditionFe" id="desConditionFe" class="layui-textarea" style="height: 170px;" disabled></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="zdlz" style="display: none">
                                <div class="layui-col-md12">
                                    <div class="titile">
                                        <ul>
                                            <li >
                                                <span class="spot"></span>
                                                <span class="titile-text">&nbsp;鉴别诊断</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="jbzdField" style="padding-top: 10px; text-align: left;">
                                    </div>
                                </div>
                            </div>

                            <div id="readyReasonHtml" style="display: none">
                                <div class="layui-col-md12">
                                    <div class="titile">
                                        <ul>
                                            <li>
                                                <span class="spot"></span>
                                                <span class="titile-text" id="nlText">&nbsp;判读的项目</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <table id="readyReason"></table>
                                    </div>
                                </div>
                            </div>



                            #*<div class="layui-tab" lay-filter="evaTabFilter">
                                <ul class="layui-tab-title">
                                    <li class="layui-this" lay-id="1">评估明细</li>
                                    <li lay-id="2">诊断标准</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <table id="evaLog"></table>
                                    </div>
                                    <div class="layui-tab-item">
                                        <textarea name="guideContent" id="guideContent" class="layui-textarea"
                                                  style="height: 800px;" disabled></textarea>
                                    </div>
                                </div>
                            </div>*#
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item" style="margin: -10px 30px 0 -10px;">
                    <table id="execLog"></table>
                </div>

                <div class="layui-tab-item" style="margin: -10px 30px 0 -10px;">
                    <div class="layui-row">
                        <div class="layui-col-md3">
                            <table id="qzItem" lay-filter="qzItemFilter"></table>
                            <table id="pcnzItem" lay-filter="pcnzItemFilter"></table>
                        </div>
                        <div class="layui-col-md9" style="text-align: center; padding-top: 10px">
                            <span><i class="iconfont icon-wo" style="color: #2094D4"></i>未做相关检查或操作
                                <i class="iconfont icon-banyuan-" style="color: #538CF6"></i> 已做相关检查或操作
                                <i class="iconfont icon-checked" style="color: #29BB9C"></i> 纳入理由
                            </span>
                            <div id="treeContainer" style="height: 800px; width: 100%;"></div>
                        </div>
                    </div>
                </div>

                <div class="layui-tab-item">
                    <div id="container" style="height: 600px; padding-right: 100px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="$!{contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.min.js"></script>
<script type="text/javascript" src="$!{contextPath}/public/third/echarts/echarts.min.js"></script>
<script type="text/javascript" src="$!{contextPath}/public/third/echarts/theme/macarons.js"></script>
<script src="$!{contextPath}/public/biz/js/biz/tests/room/assess/assessPageController.js"></script>


<script type="text/html" id="scoreDimemsionTpl">
    {{#  if(d.fgSystemAlgorithm == '0'){ }}
    <input type="text" autocomplete="off" class="layui-input"
           id="dimension-{{d.idTestexecResultDimension}}" value="{{d.scoreDimemsion}}"
           onkeypress="updateScore(this, {{d.idTestexecResultDimension}})"
           onfocus="saveTips({{d.idTestexecResultDimension}})"
           style="height: 28px; border-color: #5FB878">
    {{#  } }}
    {{#  if(d.fgSystemAlgorithm == '1' && d.nzName && d.nzName != 'pgResult'){ }}
        {{d.scoreDimemsion}}/{{d.scoreMax}}
    {{#  } }}
    {{#  if(d.fgSystemAlgorithm == '1' && d.pgItem){ }}
        {{d.scoreDimemsion}}
    {{#  } }}
</script>

<script type="text/html" id="statusBar">
    {{#  if(d.flag == 0){ }}
    <i class="iconfont icon-wo" style="color: #2094D4"></i>
    {{#  } }}
    {{#  if(d.flag == 1){ }}
    <i class="iconfont icon-checked" style="color: #29BB9C"></i>
    {{#  } }}
</script>

<script type="text/html" id="sdEvaTpl">
        #foreach($param in ${sdEva})
        {{#  if(d.sdEvaEffciency == $!param.dictCode){ }}
            $!{param.dictName}
        {{#  } else { }}

        {{#  } }}
        #end
</script>

</body>


</html>