<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>模拟评估</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/common.css">
    #*<link rel="stylesheet" href="${contextPath}/public/biz/css/exam.css">*#
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '${basePath}';
        var idMedCase = '1';
    </script>

    <style>
        .header-left, .header-right {
            float: left;
            display: inline-block;
            height: 100px;
            position: relative;
            display: flex;
            align-items: center;
        }
        .header-right {
            width: 500px;
            margin-top: -2px;
            margin-left: 20px;
            position: relative;
        }
        .msg {
            display: inline-block;
            width: 320px;
            margin-left: 10px;
            margin-top: 8px;
        }
        .users-item {
            height: 20px;
            color: blue;
            padding-right: 5px;
            border-right: 1px solid blue;
        }
        .msg-mail, .msg-tel {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .right-main {
            width:500px;
            border: 1px solid #999999;
            padding-right: 5px;
        }
        .details-header {
            font-size: 20px;
        }
        .details-text {
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .details-head {
            width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .user-details {
            display: inline-block;
            width: 450px;
            height: 100%;
            margin-left: 10px;
            border: 1px solid #999999;
            margin-top: -3px;
        }
        .time {
            display: inline-block;
            width: 190px;
            text-align: right;
            margin-left: 10px;
        }
        header {
            width: 1200px;
            height: 100px;
            padding: 10px 0 0 0;
        }
        .details-icon {
            float: left;
        }
        .no-border {
            border-right: none;
            padding-right: 0;
        }
    </style>

</head>

<body>
<div class="layui-row" style="padding-top: 20px;">
    <div class="layui-col-md6">
        <div class="header-left" style="float: right">
            <div class="user-details">
                <img src="${contextPath}/public/biz/img/exam/degree-1.png" alt="" class="details-icon"
                     style="width: 105px; height: 100px;">
                <div class="msg">
                    <p class="users">
                        <span class="users-item">韩梅梅</span>
                        <span class="users-item">女</span>
                        <span class="users-item">上海复旦医学院</span>
                        <span class="users-item">三年二班</span>
                        <span class="users-item no-border">学生</span>
                    </p>
                    <p class="msg-mail">
                    #*<img src="${contextPath}/public/biz/img/exam/email.png" alt="" style="width: 32px; height: 32px;">*#
                        <i class="iconfont icon-youjian"
                           style="color: #1E9FFF;"></i>&nbsp;<span>Hanmeimei@google.com</span>
                    </p>
                    <p class="msg-tel">
                    #*<img src="${contextPath}/public/biz/img/exam/tel.png" alt="" style="width: 32px; height: 32px;">*#
                        <i class="iconfont icon-shouji1" style="color: #01AAED;"></i>&nbsp;<span>13311668898</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="header-right">
            <div class="right-main">
                <img src="${contextPath}/public/biz/img/exam/paper1.png" alt="" class="details-icon"
                     style="width: 122px; height: 100px;">
                <div class="paper-details">
                    <p class="details-header">消化科黄金级试卷-左腹疼痛</p>
                    <p class="details-text">
                        <span class="details-head">出题机构：复旦儿科医学院</span>
                        <span class="time">开始时间：2018-10-27 13:15:00</span>
                    </p>
                    <p class="details-text">
                        <span class="details-head">出题人：达尔文</span>
                        <span class="time">完成时间：2018-10-27 14:22:00</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-row" style="text-align: center">
    <div class="layui-col-md2">
        &nbsp;
    </div>
    <div class="layui-col-md8">
        <table lay-even class="layui-table">

            <thead>
            <tr>
                <th>诊断表现得分</th>
                <th>临床思维得分</th>
                <th>临床思维评价</th>
                <th>医嘱得分</th>
                <th>病历书写得分</th>
                <th>知识掌握得分</th>
                <th>总得分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>4.2</td>
                <td>13.35</td>
                <td>合格但滥用检查</td>
                <td>9.2</td>
                <td>1.0</td>
                <td>0.8</td>
                <td>22</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="layui-col-md2">
    </div>
    <hr style="margin: -10px 30px 0 30px; background-color: #999999">
</div>

<div class="layui-row">
    <div class="layui-col-md6" style="padding: 0 5px 0 30px;">
        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col width="80">
                <col width="100">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>阶段</th>
                <th>操作</th>
                <th>答案</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>贤心</td>
                <td>汉族</td>
                <td>1989-10-14</td>
                <td>人生似修行</td>
            </tr>
            <tr>
                <td>张爱玲</td>
                <td>汉族</td>
                <td>1920-09-30</td>
                <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            </tr>
            <tr>
                <td>Helen Keller</td>
                <td>拉丁美裔</td>
                <td>1880-06-27</td>
                <td> Life is either a daring adventure or nothing.</td>
            </tr>
            <tr>
                <td>岳飞</td>
                <td>汉族</td>
                <td>1103-北宋崇宁二年</td>
                <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr><tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr><tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
                <td>猿强，则国强。国强，则猿更强！ </td>
            </tr>


            </tbody>
        </table>
    </div>
    <div class="layui-col-md6" style="padding-right: 30px;">
        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col width="150">
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>人物</th>
                <th>民族</th>
                <th>出场时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>贤心</td>
                <td>汉族</td>
                <td>1989-10-14</td>
            </tr>
            <tr>
                <td>张爱玲</td>
                <td>汉族</td>
                <td>1920-09-30</td>
            </tr>
            <tr>
                <td>Helen Keller</td>
                <td>拉丁美裔</td>
                <td>1880-06-27</td>
            </tr>
            <tr>
                <td>岳飞</td>
                <td>汉族</td>
                <td>1103-北宋崇宁二年</td>
            </tr>
            <tr>
                <td>孟子</td>
                <td>华夏族（汉族）</td>
                <td>公元前-372年</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="${contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

</body>


</html>