<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="CONSOLE-APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="info"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/pfprod/default.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/pfprod/error.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="error" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="pfprod-SERVICE-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/pfprod/pfprod-service.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="pfprod-INTEGRATION-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/pfprod/pfprod-integration.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="pfprod-DAL-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/pfprod/pfprod-dal.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<appender name="pfprod-COMMON-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./logs/pfprod/pfprod-common.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-32t - %m%n" />
		</layout>
	</appender>

	<logger name="com.sm.pfprod.service" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="pfprod-SERVICE-APPENDER" />
	</logger>

	<logger name="com.sm.pfprod.integration" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="pfprod-INTEGRATION-APPENDER" />
	</logger>

	<logger name="com.sm.pfprod.dal" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="pfprod-DAL-APPENDER" />
	</logger>

	<logger name="com.sm.pfprod.common" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="pfprod-COMMON-APPENDER" />
	</logger>

	<logger name="monitor" additivity="false">
		<level value="info" />
		<appender-ref ref="ERROR-APPENDER" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="ERROR-APPENDER" />
	</root>

</log4j:configuration>
