<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>$!{formType}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="$!{contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '$!{basePath}';
        var contextPath = '$!{contextPath}';
        var formType = '$!{formType}';
    </script>
</head>

<body class="body-my">
<div class="wrapper-content">
    <form class="layui-form" id="partDefneForm">
        <div hidden>
            <input name="idMedAsse" hidden>
        </div>
        <div class="layui-form-item form-item-my5">
            <label class="layui-form-label">组件编码<i class="iconfont icon-required" style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <input type="text" name="cdMedAsse" lay-verify="required|commonLength" lay-vertype="tips"
                       autocomplete="off"
                       class="layui-input" placeholder="请输入组件编码">
            </div>
        </div>
        <div class="layui-form-item form-item-my5">
            <label class="layui-form-label">组件名称<i class="iconfont icon-required" style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required|commonLength" lay-vertype="tips" autocomplete="off"
                       class="layui-input" placeholder="请输入组件名称">
            </div>
        </div>
        <div class="layui-form-item form-item-my5">
            <label class="layui-form-label">组件描述</label>
            <div class="layui-input-block">
                <input type="text" name="descript" lay-verify="descript" lay-vertype="tips" autocomplete="off"
                       class="layui-input" placeholder="请输入组件描述">
            </div>
        </div>
        <div class="layui-form-item form-item-my5">
            <label class="layui-form-label">嵌入类型<i class="iconfont icon-required" style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <select name="sdMedAsse" id="sdMedAsse" autocomplete="off" lay-verify="required|commonLength"
                        lay-vertype="tips" placeholder="请选择嵌入类型">
                    <option value="">请选择</option>
                    #foreach($param in ${importType})
                        <option value="$!param.dictCode">${param.dictName}</option>
                    #end
                </select>

            </div>
        </div>
        <div class="layui-form-item form-item-my5">
            <label class="layui-form-label">组件code</label>
            <div class="layui-input-block">
                <input name="script" id="script" class="layui-input" lay-verify="script" lay-vertype="tips"
                       autocomplete="off" placeholder="病历组件嵌入代码"></input>
            </div>
        </div>

        <div class="layui-form-item form-item-my5">
            <label class="layui-form-label">执行code</label>
            <div class="layui-input-block">
                <input name="scriptExec" id="scriptExec" class="layui-input" lay-verify="script" lay-vertype="tips"
                       autocomplete="off" placeholder="病例执行嵌入代码"></input>
            </div>
        </div>
        <div class="layui-form-item layui-form-text form-item-my5">
            <label class="layui-form-label">状态<i class="iconfont icon-required"
                                                 style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <input type="checkbox" checked="" name="fgActive" lay-skin="switch"
                       value="1" lay-text="启用|停用">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="addPartDefine">
                    <i class="iconfont icon-save-copy"></i> 保存
                </button>
                #if($!{formType} == 'add')
                    <button type="reset" class="layui-btn layui-btn-danger">
                        <i class="iconfont icon-reset"></i> 重置
                    </button>
                #end
            </div>
        </div>
    </form>
</div>

<script src="$!{contextPath}/public/layui/plugins/layui/layui.all.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.min.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.formautofill.js"></script>
<script src="${contextPath}/public/biz/js/biz/clinic/part/partDefineFormController.js"></script>
<script>
    function fullForm(data) {
        $(document).ready(function () {
            $("#partDefneForm").autofill(data);
            layui.use('form', function () {
                layui.form.render();
            });
        });

    }
</script>

</body>
</html>