<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>检查</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/css/service.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/css/body.css">
    <link rel="stylesheet" href="${contextPath}/public/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/common/css/gooey.min.css">

    <script>
        var basePath = '${basePath}';
        var name = '$!{patient.name}';
        var age = '$!{patient.age}';
        var sex = #if($!{patient.sex} == '2')'女'#elseif($!{patient.sex} == '1' )'男'#end;
        var complaint = '$!{patient.complaint}';
        var idMedicalrec = '$!{idMedicalrec}';
        var cdMedAsse = '$!{cdMedAsse}';
        var idTestexecResult = '$!{idTestexecResult}';
        var executingShowExpert = '$!{executingShowExpert}';
        var completedShowExpert = '$!{completedShowExpert}';
        var sdTestexec='$!{sdTestexec}';

        var fieldsArr ='$!{map}';
        var fieldsJSON = eval('(' + fieldsArr + ')');


    </script>

</head>

<body class="wrapper-content">

<div>

    <div class="titile">
        <ul>
            <li style="width: 50.5%">
                <span class="spot"></span>
                <span class="titile-text">&nbsp;体格检查项</span>
            </li>
            <li style="width: 49.5%">
                <span class="spot"></span>
                <span class="titile-text">&nbsp;检查记录</span>
            </li>
        </ul>
    </div>

    <div class="layui-col-xs6 support-check">
        <div id="body-check" style="padding-left: 5px">
                <div id="operation">
                    <li id="live"><div><span>生命征</span></div></li>
                    <li class="show-spot" value="2"><div><span>视诊</span></div></li>
                    <li class="show-spot" value="3"><div><span>触诊</span></div></li>
                    <li class="show-spot" value="4"><div><span>叩诊</span></div></li>
                    <li class="show-spot" value="5"><div><span>听诊器</span></div></li>
                    <li class="show-spot" value="6"><div><span>神经系统</span></div></li>
                    <li class="show-spot" value="7"><div><span>压舌板</span></div></li>
                </div>

                <div id="img-box">
                    <div>
                        <div id="group-spot-front" hidden>
                            <div hidden value="1"  class="head spot-circle"><span></span></div>
                            <div hidden value="2"  class="neck spot-circle"><span></span></div>
                            <div hidden value="3"  class="shoulder spot-circle"><span></span></div>
                            <div hidden value="4"  class="breast spot-circle"><span></span></div>
                            <div hidden value="6"  class="stomach spot-circle"><span></span></div>
                            <div hidden value="5"  class="arm spot-circle"><span></span></div>
                            <div hidden value="8"  class="lap spot-circle"><span></span></div>
                            <div hidden value="7"  class="pelvis spot-circle"><span></span></div>
                        </div>

                        <div id="group-spot-back" hidden>
                            <div hidden value="9" class="back spot-circle"><span></span></div>
                        </div>
                    </div>

                    <img id="body-img" src="${contextPath}/public/biz/img/body-front.png"/>
                </div>

                <button type="button" id="switch-but" style="display: inline-block;">
                    <span id="switch-text">背面</span>
                </button>
        </div>
        <div id="question" style="padding-left: 5px" hidden>
            <div class="layui-row" >
                <div style="margin: 12px 5px 12px 0; overflow: hidden">
                    <form class="layui-form" style="float: right">



                        <div style="float: right">
                            <div class="layui-input-inline">
                                <button type="button" id="queryBtn">
                                    <span>查询</span>
                                </button>
                            </div>
                        </div>

                        <div style="float: right">
                            <div class="layui-input-inline">
                                <input type="text" name="keyword" id="keyword" autocomplete="off" class="layui-input"
                                       placeholder="请输入检查项">
                            </div>
                        </div>
                    </form>

                    <div style="float: right">
                        <select id="question-select" class="item-style">
                            <option class="item-option" value="0" selected>全部</option>
                            #foreach($!element in $!listQuestionClassifyTree)
                                <option value="$!element.id">$!element.name</option>
                            #end
                        </select>
                    </div>

                    <div style="float: right">
                        <select id="item-select" class="item-style" style="margin-right: 13px">
                            <option class="item-option" value="0" selected>全部</option>
                            #foreach($!element in $!bodyPosition)
                                <option value="$!element.dictCode">$!element.dictName</option>
                            #end
                        </select>

                    </div>

                    <div id="return">
                        返回上一级
                    </div>

                </div>
            </div>

            <table id="partCheckTable" lay-filter="partCheckTableFilter">
            </table>
        </div>
    </div>

    <div class="layui-col-xs6" style="padding-left:5px;">
        <div class="service-wrapper" style="border: 1px solid #dddddd;" id="autoScroll">
            <div class="progress-box" hidden>
                <div class="item-box" >
                    <p class="progress-item"><span class="middle">6</span>/10</p>
                    <p class="progress-item"><span class="end">10</span>/10</p>
                    <p class="progress-item"><span class="end">12</span>/10</p>
                </div>
            </div>
            <ul class="service-box" id="serviceBox">

            </ul>
        </div>
    </div>

    <div style="float: right; padding-bottom: 250px; margin-top: -100px; z-index: 999999;">
        <nav id="gooey-v" style="width: 90px; padding-bottom: 100px;">
            <input type="checkbox" class="menu-open" name="menu-open4" id="menu-open4" />
            <label class="open-button" for="menu-open4">
                <span class="burger burger-1"></span>
                <span class="burger burger-2"></span>
                <span class="burger burger-3"></span>
            </label>
            <a href="#" class="gooey-menu-item" data-type="1"><span>拟诊</span></a>
            <a href="#" class="gooey-menu-item" data-type="2"><p style="margin: -10px">体检</p><p style="margin: -30px">小结</p></a>
        </nav>
    </div>

</div>


<script src="${contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.min.js"></script>
<script src="${contextPath}/public/ztree/js/jquery.ztree.core.js"></script>
<script src="$!{contextPath}/public/common/js/gooey.min.js"></script>
<script src="${contextPath}/public/biz/js/biz/tests/room/exec/execCheckController.js"></script>

<script type="text/html" id="qaTpl">
    <input type="checkbox" id="check{{d.idMedCaseList}}" name="qa" value="{{d.idBody}}-{{d.idMedCaseList}}"
           lay-skin="primary" lay-filter="qaCheckFilter" {{ d.extQa== true ? 'checked' : '' }} {{ d.extQa== true ? 'disabled' : '' }}>
</script>

<script type="text/html" id="nzTpl">
    <a style="color: #378D7E" href="javascript:;" class="layui-table-link" id="nz{{d.idMedCaseList}}"
       data-index="{{ d.idDie ? d.idDie : '' }}" ts-selected="{{ d.idDie ? d.idDie : '' }}"
       data-qa-check="{{ d.extQa== true ? true : false }}" lay-event="add">
        {{# if(d.idDie){ }}
        {{d.idDieText}}
        {{# } else { }}
        点击选择
        {{# } }}
    </a>
</script>

</body>


</html>