<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>鉴别诊断</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$!{contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/css/service.css">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/common/css/jquery.orgchart.css">


    <script>
        var basePath = '$!{basePath}';
        var idTestexecResult = '$!{idTestexecResult}';
    </script>

    <style>
        #none {
            width: 140px;
            margin: 122px auto 0;
            height: 500px;
            display: block;
        }

        #none img {
            margin: 0 6px;
        }

        #none p:nth-child(2)  {
            width:108px;
            color:rgba(51,51,51,1);
            margin: 20px auto 28px;
            height:19px;
            font-size:18px;
            font-family:MicrosoftYaHei;
            font-weight:400;
        }

        #none p:last-child {
            color:rgba(153,153,153,1);
            width:140px;
            height:14px;
            font-size:14px;
            font-family:MicrosoftYaHei;
            font-weight:400;
        }

        .fix {
            position: relative;
            margin: 10px 0 16px 10px;
        }

        .add-but:hover {
            cursor: pointer;
        }

        .add-but {
            width:90px;
            border: none;
            height:32px;
            background:rgba(55,141,126,1);
            border-radius:4px;
        }

        .add-but span {
            width: 28px;
            height: 14px;
            display: inline-block;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            margin-left: 45px;
            margin-right: 17px;
            color: rgba(255, 255, 255, 1);
        }

        .vertical {
            top: 9px;
            left: 25px;
            width: 3px;
            height: 15px;
            position: absolute;
            background-color: #ffffff;
        }

        .horizontal {
            top: 15px;
            left: 19px;
            width: 15px;
            height: 3px;
            position: absolute;
            background-color: #ffffff;
        }

        .main {
            height: 670px;
            overflow-y: auto;
            margin-left: 10px;
            border-radius: 4px;
        }

        .disc {
            width:8px;
            height:8px;
            display: inline-block;
            background:rgba(55,141,126,1);
            margin-right: 3px;
            border-radius:50%;
        }

        .diagnose-title {
            color:rgba(51,51,51,1);
            width:77px;
            height:14px;
            font-size:14px;
            font-family:MicrosoftYaHei;
            font-weight:400;
        }


        .referral {
            border:1px solid rgba(239,241,244,1);
            background:rgba(255,255,255,1);
            border-radius:4px;
            margin-bottom: 20px;
        }

        .titile {
            margin: 15px 0 0 16px;
        }

        .layui-card-body {
            padding: 0;
            margin: 0 15px;
        }

        .layui-table-view {
            margin: 0;
        }

        .button-right {
            float: right;
            margin-top: 10px;
        }
        .item-style {
            width:95%;
            height:32px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(204,204,204,1);
            border-radius:4px;
            text-align: left;
            text-align-last:left;
            margin-right: 6px;
        }

        #chart-container .orgchart{
            width: 100%;
        }

        #chart-container .orgchart table {
            width: 100%;
        }
        .orgchart {
            background: #fff
        }
    </style>

</head>

<body class="wrapper-content">

<div style="overflow:hidden">

    <div class="layui-row layui-col-space5">
        <div class="layui-col-md7 layui-col-space5">
            <div class="layui-row">
                <div class="layui-card" style="border: 1px #e9e9e9 solid; height: 350px; overflow: auto">
                    <div class="layui-card-body">
                        <div style="padding: 10px;">
                            <span style="font-weight: bold;">既往史：</span>
                            <span name="desSumaryHpi" id="desSumaryHpi" style="text-decoration: underline;"></span>
                        </div>
                        <div style="padding: 10px;">
                            <span style="font-weight: bold;">查体：</span>
                            <span name="desSumaryPe" id="desSumaryPe" style="text-decoration: underline;"></span>
                        </div>
                        <div style="padding: 10px;">
                            <span style="font-weight: bold;">辅助检查：</span>
                            <span name="desSumaryFe" id="desSumaryFe" style="text-decoration: underline;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="titile" style="margin-top: 5px; margin-left: 0px;">
                    <ul>
                        <li style="width: 100%">
                            <span class="spot"></span>
                            <span class="titile-text">&nbsp;思维导图</span>
                        </li>
                    </ul>
                </div>

                <div id="chartDiv" style="height: 310px; width: 100%; text-align: center; overflow: scroll; margin: 0">
                    <div id="chart-container" style="width: 100%; margin-top: -20px">

                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md5">
            <div class="titile" style="margin-top: 5px;">
                <ul>
                    <li style="width: 100%">
                        <span class="spot"></span>
                        <span class="titile-text">&nbsp;鉴别诊断</span>
                    </li>
                </ul>
            </div>

            <div class="main">

                <div style="padding: 10px 0 10px 5px; font-weight: bold">鉴别诊断</div>

                <div hidden>
                    <input id="idTestexecResultIdentify" hidden/>
                </div>

                <div>
                    <form class="layui-form">
                        <div style="float: left">
                            <div class="layui-input-inline">
                                <input type="text" name="naDie" id="naDie" autocomplete="off" class="layui-input"
                                       placeholder="请输入关键字" style="width: 320px; height: 32px;">
                            </div>
                        </div>
                        <div style="float: left">
                            <div class="layui-input-inline">
                                <button type="button" id="queryBtn" style="cursor: pointer;">
                                    <span>查询</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div style="padding: 50px 0 10px 5px; font-weight: bold">诊断说明</div>

                <textarea name="desDieReason" id="desDieReason" class="layui-textarea"
                          style="height: 200px;"></textarea>

                <div style="padding: 20px 0 10px 5px; font-weight: bold">
                    排除理由
                    <span style="float: right;">
                        <button style="margin-left: 0" class="layui-btn layui-btn-xs" id="addReason">
                            <i class="layui-icon layui-icon-add-1"></i> 添加
                        </button>
                    </span>

                </div>

                <table id="outTable" lay-filter="outTableFilter">
                </table>

                <div style="padding: 20px 0 0 120px;">
                    <button type="button" id="saveIdentify" class="layui-btn layui-btn-sm"
                            style="padding: 0 20px 0 20px; background-color: #4A92D8;">保存</button>
                </div>

            </div>
        </div>
    </div>

</div>


<script src="$!{contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="${contextPath}/public/common/js/jquery.min.js"></script>
<script src="${contextPath}/public/common/js/jquery.orgchart.js"></script>
<script src="$!{contextPath}/public/biz/js/biz/tests/room/exec/execDiagnosisDifferentialController.js"></script>

<script type="text/html" id="sdEvaTpl">
        #foreach($param in ${sdEva})
        {{#  if(d.sdEvaEffciency == $!param.dictCode){ }}
            $!{param.dictName}
        {{#  } else { }}

        {{#  } }}
        #end
</script>

</body>

</html>