<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>检验</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/css/service.css">
    <link rel="stylesheet" href="${contextPath}/public/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/common/css/gooey.min.css">

    <script>
        var basePath = '${basePath}';
        var name = '$!{patient.name}';
        var age = '$!{patient.age}';
        var sex = #if($!{patient.sex} == '2')'女'#elseif($!{patient.sex} == '1' )'男'#end;
        var complaint = '$!{patient.complaint}';
        var idMedicalrec = '$!{idMedicalrec}';
        var cdMedAsse = '$!{cdMedAsse}';
        var idTestexecResult = '$!{idTestexecResult}';
        var executingShowExpert = '$!{executingShowExpert}';
        var completedShowExpert = '$!{completedShowExpert}';
        var sdTestexec='$!{sdTestexec}';
    </script>

</head>

<body class="wrapper-content">

<div>

    <div class="titile">
        <ul>
            <li style="width: 50.5%">
                <span class="spot"></span>
                <span class="titile-text">&nbsp;辅助检查项</span>
            </li>
            <li style="width: 49.5%">
                <span class="spot"></span>
                <span class="titile-text">&nbsp;检查记录</span>
            </li>
        </ul>
    </div>

    <div class="layui-col-xs6">
        <div class="layui-row" style="border:1px solid rgba(239,241,244,1);">
            <div class="layui-col-xs4">
                <div id="treeDiv" style="overflow:auto;">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
            <div class="layui-col-xs8" style="padding-left: 5px">
                <div class="layui-row">
                    <div style="margin: 12px 5px 12px 0;overflow: hidden">
                        <form class="layui-form">
                            <div style="float: right">
                                <div class="layui-input-inline">
                                    <button type="button" id="queryBtn">
                                         <span>查询</span>
                                    </button>
                                </div>
                            </div>
                            <div style="float: right">
                                <div class="layui-input-inline">
                                    <input type="text" name="keyword" id="keyword" autocomplete="off" class="layui-input"
                                           placeholder="请输入检验项目">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <table id="execExamTable" lay-filter="execExamTableFilter">
                </table>

                <div style="padding-top: 10px;">
                    <span>共计：</span><span id="amountTotal" style="font-size: 25px; color: red;"></span><span> 元</span>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6" style="padding-left:5px;">
        <div class="service-wrapper" style="border: 1px solid #dddddd;">
            <div class="progress-box" hidden>
                <div class="item-box">
                    <p class="progress-item"><span class="middle">6</span>/10</p>
                    <p class="progress-item"><span class="end">10</span>/10</p>
                    <p class="progress-item"><span class="end">12</span>/10</p>
                </div>
            </div>
            <ul class="service-box" id="serviceBox">

            </ul>
        </div>
    </div>

    <div style="float: right; padding-bottom: 250px; margin-top: -100px; z-index: 999999;">
        <nav id="gooey-v" style="width: 90px; padding-bottom: 100px;">
            <input type="checkbox" class="menu-open" name="menu-open4" id="menu-open4" />
            <label class="open-button" for="menu-open4">
                <span class="burger burger-1"></span>
                <span class="burger burger-2"></span>
                <span class="burger burger-3"></span>
            </label>
            <a href="#" class="gooey-menu-item" data-type="1"><span>拟诊</span></a>
            <a href="#" class="gooey-menu-item" data-type="2"><p style="margin: -10px">辅检</p><p style="margin: -30px">小结</p></a>
        </nav>
    </div>

</div>


<script src="$!{contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.min.js"></script>
<script src="${contextPath}/public/ztree/js/jquery.ztree.core.js"></script>
<script src="${contextPath}/public/ztree/js/jquery.ztree.excheck.js"></script>
<script src="$!{contextPath}/public/common/js/gooey.min.js"></script>
<script src="${contextPath}/public/biz/js/biz/tests/room/exec/execExamController.js"></script>

<script type="text/html" id="qaExamTpl">
    <input type="checkbox" id="exam{{d.idMedCaseList}}" name="qa" value="{{d.idInspectItem}}-{{d.idMedCaseList}}"
           lay-skin="primary" lay-filter="qaExamFilter" {{ d.extQa== true ? 'checked' : '' }} {{ d.extQa== true ? 'disabled' : '' }}>
</script>

<script type="text/html" id="nzTpl">
    <a href="javascript:;" class="layui-table-link" id="nz{{d.idMedCaseList}}"
       data-index="{{ d.idDie ? d.idDie : '' }}" ts-selected="{{ d.idDie ? d.idDie : '' }}"
       data-qa-check="{{ d.extQa== true ? true : false }}" lay-event="add">
        {{# if(d.idDie){ }}
        {{d.idDieText}}
        {{# } else { }}
        点击选择
        {{# } }}
    </a>
</script>


</body>


</html>