<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>模拟候诊</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/exam.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/iconfont/iconfont.css">
    <script>
        var basePath = '$!{basePath}';
        var patName = '$!{patName}';
        var patSex = '$!{patSex}';
        var patAge = '$!{patAge}';
        var complain = '$!{complain}';
        var idTestplanDetail = '$!{idTestplanDetail}';
        var idTestplan = '$!{idTestplan}';
        var idDemo = '$!{idDemo}';
        var idMedicalrec = '$!{idMedicalrec}';
        var idTestpaper = '$!{idTestpaper}';
        var sdTestexec = '$!{examInfo.paperInfo.sdTestexec}';
        var beginTimeStr = '$!{examInfo.paperInfo.beginTimeStr}';
        var linkPath = '$!{link}';
        var h = '$!{h}';
        var m = '$!{m}';
        var s = '$!{s}';
    </script>
</head>

<body id="container">
<div>
    <!-- 头部 start -->
    <div class="header">

        <div class="test-info">

            <button type="button" id="returnBut" hidden>
                <span>返回</span>
            </button>

            <span class="test-info-name">患者：$!patName</span>
            <span class="test-info-name">年龄：$!patAge</span>
            <span class="test-info-name">
                性别：#if($!{patSex} == '0')女#elseif($!{patSex} == '1' )男#end
            </span>
            <span class="test-info-org">出题机构： $!examInfo.paperInfo.orgName</span>
        </div>
        <div class="test-time">
            <div class="clock-image">
                <img src="${contextPath}/public/layui/build/images/time.png"/>
            </div>

            <div class="clock">
                <span id="hr">00</span>
                <span> : </span>
                <span id="min">00</span>
                <span> : </span>
                <span id="sec">00</span>
            </div>

            <div hidden>
                <input id="studentId" hidden value="$!examInfo.studentInfo.studentId"></input>
                <input id="idTestexec" value="$!examInfo.paperInfo.idTestexec">
                <input id="idTestexecResult" value="$!examInfo.paperInfo.idTestexecResult">
                <span id="endTime">$!examInfo.paperInfo.endTimeStr</span>
            </div>

        </div>

        <div class="fullscreen">
            <a href="javascript:;" id="fullscreen">
                <i class="layui-icon layui-icon-screen-full"></i>
            </a>
        </div>

    </div>
    <!--  头部 end  -->
    <!-- 主体 start -->
    <div class="body">
        <!-- 导航栏 start -->
        <div class="nav-bar" id="navBar">
            <ul>
                #if(!$examInfo.tags.isEmpty())
                    #foreach($!element in $!examInfo.tags)
                        #if($!element.fgShowExec == '1')
                            #if($!element.cdMedAsse != '009')
                                <li class="execTag" exec-ref="$!element.scriptExec" exec-code="$!element.cdMedAsse" exec-no="$!element.processSerialno" exec-pat="$!idMedCase">
                                    #*<a href="javascript:;" class="a-item grey">
                                        <i class="$!element.pName"></i>
                                        <span class="item-text">$!element.name</span>
                                    </a>*#
                                    <a href="javascript:;" class="a-item grey" style="text-align: center;">
                                        <img src="$!element.path" style="width: 25px; height: 25px;">
                                        <span class="item-text">$!element.name</span>
                                    </a>
                                </li>
                            #end
                        #end
                    #end
                #end

                <li class="border-top" id="endBtn">
                    <a href="javascript:;" class="a-item grey">
                        <i class="icon-uniE904"></i>
                        <span class="item-text">交卷</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- 导航栏 end -->

        <!-- 主体内容 start -->
        <div class="main" id="main">
            <div id="content">
                #if(!$examInfo.tags.isEmpty())
                    #foreach($!element in $!examInfo.tags)
                        #if($!element.fgShowExec == '1')
                            <div id="page$!element.cdMedAsse" class="display-my" style="height: 728px;">
                                <iframe id="iframe$!element.cdMedAsse" frameborder="0" scrolling="no"
                                        class='layui-col-xs12 display-my'
                                        style="height: 728px;"></iframe>
                            </div>
                        #end
                    #end

                    <div id="pageClinicalDiagnosis" class="display-my" style="height: 728px; display: none">
                        <iframe id="iframeClinicalDiagnosis" frameborder="0" scrolling="no"
                                class='layui-col-xs12 display-my'
                                style="height: 728px;"></iframe>
                    </div>

                #end
            </div>

            #*<div id="suspend-box" class="suspend">
                <div class="suspend-text">点击此处可添加拟诊</div>
                <div class="triangle"></div>
            </div>*#

        </div>
        <!-- 主体内容 end -->

        <div id="nextStepDiv">
            <input id="nextStepExecCode" hidden/>
            <input id="nextStepNo" hidden/>
            <input id="currentStepNo" value="$!examInfo.paperInfo.curSerialno" hidden/>
            <button id="nextStep" type="button" class="layui-btn">下一步
            </button>
        </div>

    </div>
    <!-- 主体 end -->

</div>

<script src="${contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="${contextPath}/public/common/js/moment.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.min.js"></script>
<script src="${contextPath}/public/biz/js/biz/tests/room/testController.js"></script>

</body>


</html>