<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登陆</title>
    <meta name="description" content="这是一个 登陆 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="${contextPath}/public/amazeui/css/amazeui.min.css"/>
    <link rel="stylesheet" href="${contextPath}/public/amazeui/css/admin.css">
    <link rel="stylesheet" href="${contextPath}/public/amazeui/css/app.css">
</head>

<body data-type="login">

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                <span> Login</span>
            </div>
        </div>

        <div class="login-font">
            <i>Log In </i> or <span> Sign Up</span>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form" method="post" action="${contextPath}/pfprodlogin">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" name="username" placeholder="输入用户名">
                    </div>
                    <div class="am-form-group">
                        <input type="hidden" name="password" id="encryptPassword"/>
                        <input type="password" id="clearPassword" placeholder="请输入密码"/>
                    </div>
                    #if(${errorMsg})
                        <p style="color: red;">${errorMsg}</p>
                    #end
                    <p>
                        <button type="submit" class="am-btn am-btn-default">登录</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="${contextPath}/public/common/js/jquery.min.js"></script>
<script src="${contextPath}/public/amazeui/js/amazeui.min.js"></script>
<script src="${contextPath}/public/amazeui/js/app.js"></script>
<script src="${contextPath}/public/common/js/jquery.jcryption.3.1.0.js"></script>
<script src="${contextPath}/public/biz/js/LoginController.js"></script>

<script type="text/javascript">
    $(function () {
        var loginController = new LoginController();
        loginController.init('${publicKey}');
    });
</script>
</body>

</html>