<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>upload设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '${basePath}';
    </script>
</head>

<body>

<div class="wrapper-content">
    <fieldset class="layui-elem-field" style="margin-top: 10px;">
        <legend>上传设置</legend>
        <form class="layui-form" id="emailForm">
            <div class="layui-form-item">
                <label class="layui-form-label">开启服务</label>
                <div class="layui-input-block">
                    <input name="sendSwitch" lay-skin="switch" lay-filter="switchSend" lay-text="ON|OFF" type="checkbox"
                           checked="" value="Y">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">上传类型</label>
                <div class="layui-input-inline" style="max-width: 600px">
                    <input name="uploadType" placeholder="请用','隔开" autocomplete="off" class="layui-input"
                           type="text">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">最大上传值</label>
                <div class="layui-input-inline">
                    <input name="maxUploadValue" lay-verify="pass" placeholder="单位kb" autocomplete="off"
                           class="layui-input"
                           type="text">
                </div>
                <div class="layui-form-mid layui-word-aux">单位KB</div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="addEmail">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </fieldset>

    <fieldset class="layui-elem-field" style="margin-top: 10px;">
        <legend>上传测试</legend>
        <form class="layui-form" id="emailTestForm">

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="emailTo">
                        上传测试
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

<script src="${contextPath}/public/layui/plugins/layui/layui.all.js"></script>
<script src="${contextPath}/public/common/js/jquery.min.js"></script>
<script src="${contextPath}/public/common/js/jquery.formautofill.js"></script>

<script>
    var data = eval(${emailInfo});
    $(document).ready(function () {
        $("#emailForm").autofill(data);
        layui.use('form', function () {
            layui.form.render();
        });
    });
</script>

</body>
</html>