<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>病例标签维护</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="$!{contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '$!{basePath}';
        var contextPath = '$!{contextPath}';
        var idDemo = '$!{idDemo}';
    </script>
</head>

<body>
<div>
    <div class="layui-col-xs5" style="padding-right: 10px;margin-top: -10px;">
        <table id="tagTable" lay-filter="tagTableFilter">
        </table>
    </div>
    <div class="layui-col-xs7">
        <form class="layui-form layui-form-pane" id="tagForm">
            <div hidden>
                <input name="idTag" id="idTag" hidden>
                <input name="idDemo" id="idDemo" hidden>
                <input name="idMedia" id="idMediaMed" hidden>
            </div>

            <div class="layui-form-item form-item-my5">
                <div class="layui-inline">
                    <label class="layui-form-label">标签名称<i class="iconfont icon-required"
                                                           style="color: #f03f2d"></i></label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" lay-vertype="tips"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">病例组件<i class="iconfont icon-required"
                                                           style="color: #f03f2d"></i></label>
                    <div class="layui-input-inline">
                        <select name="cdMedAsse" id="cdMedAsse" lay-verify="required" lay-vertype="tips">
                            <option value="">请选择</option>
                            #foreach($!elemet in $!parts)
                                <option value="$!elemet.cdMedAsse">$!elemet.name</option>
                            #end
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item form-item-my5">
                <label class="layui-form-label">标签Logo</label>
                <div class="layui-input-inline" style="width: 419px;">
                    <input id="partPath" name="path" placeholder="请上传标签图片" autocomplete="off"
                           class="layui-input layui-disabled" disabled>
                </div>
                <button type="button" class="layui-btn layui-btn-primary" id="test3">
                    <i class="layui-icon" style="color: #009688; font-weight: bold">&#xe608;</i>上传
                </button>
            </div>
            <div class="layui-form-item form-item-my5">
                <label></label>
                <div class="layui-input-block">
                    <img class="layui-upload-img" id="demo1" style="cursor: pointer;"
                         src="$!{contextPath}/public/biz/img/photo-default.png">

                </div>
                <div class="layui-input-block">
                <input type="checkbox" name="fgShowMake" value="1" title="制作病例时是否显示">
                <input type="checkbox" name="fgShowExec" value="1" title="执行时是否显示">
                </div>
            </div>

            <div class="layui-form-item form-item-my5">
                <div class="layui-inline">
                    <label class="layui-form-label">状态<i class="iconfont icon-required"
                                                         style="color: #f03f2d"></i></label>
                    <div class="layui-input-inline">
                        <input type="checkbox" checked="1" name="fgActive" lay-skin="switch"
                               value="1" lay-text="NO|OFF">
                        &nbsp;

                    </div>
                </div>
                <div class="layui-inline">
                <label class="layui-form-label">排序<i class="iconfont icon-required"
                                                     style="color: #f03f2d"></i></label>
                    <div class="layui-input-inline">
                    <input type="text" name="sort" autocomplete="off" class="layui-input"
                           placeholder="排序" lay-verify="required|sort" lay-vertype="tips">
                    </div>
                </div>
            </div>


            <div class="layui-form-item form-item-my5">
                <div class="layui-inline">
                    <label class="layui-form-label">创建人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="creator" autocomplete="off"
                               class="layui-input layui-disabled"
                               disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="gmtCreate" autocomplete="off"
                               class="layui-input layui-disabled"
                               disabled>
                    </div>
                </div>
            </div>
            <div class="layui-form-item form-item-my5">
                <div class="layui-inline">
                    <label class="layui-form-label">修改人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="operator" autocomplete="off"
                               class="layui-input layui-disabled"
                               disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">修改时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="gmtModify" autocomplete="off"
                               class="layui-input layui-disabled"
                               disabled>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="add" type="button" class="layui-btn">
                        <i class="layui-icon layui-icon-add-1"></i>增加
                    </button>
                    <button id="save" class="layui-btn" lay-submit="" lay-filter="saveTag">
                        <i class="iconfont icon-save-copy"></i> 保存
                    </button>
                    <button id="reset" type="reset" class="layui-btn layui-btn-danger">
                        <i class="iconfont icon-reset"></i> 重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="$!{contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.min.js"></script>
<script src="$!{contextPath}/public/common/js/jquery.formautofill.js"></script>
<script src="$!{contextPath}/public/biz/js/biz/clinic/tagCaseHistoryFormController.js"></script>

<script type="text/html" id="fgActiveTpl">
    {{#  if(d.fgActive == '1'){ }}
    <i class="iconfont icon-gou" style="color: #5FB878"></i>
    {{#  } else { }}
    <i class="iconfont icon-chacha" style="color: #FF5722"></i>
    {{#  } }}
</script>

<script type="text/html" id="imgTpl">
    {{#  if(d.path){ }}
    <img style="display: inline-block; width: 100%; height: 100%;" src={{ d.path }}>
    {{#  } else { }}
    {{#  } }}
</script>


<script type="text/html" id="tagBar">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
</script>

</body>
</html>