<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>临床病例标签页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="$!{contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/style/admin.css" media="all">

    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '$!{basePath}';
        var contextPath = '$!{contextPath}';
        var idDemo = '$!{idDemo}';
        var idMedicalrec = '$!{idMedicalrec}';
        var tags = '$!{tags}'
        var assessTags = '$!{assessTags}';
    </script>
</head>

<body>
<div>
    <div class="layui-tab layui-tab-brief layui-col-xs12" lay-filter="tagTabFilter"
         style="margin: 0px">
        <ul class="layui-tab-title">
            <li class="layui-this">临床病例</li>
            <li>评估表</li>
        </ul>
        <div class="layui-tab-content" style="margin-left: -10px;">
            <div class="layui-tab-item layui-show">
                <div class="layadmin-shortcut">
                    <div class="layui-col-xs1" >
                        <ul class="layui-row">
                            #if(!$tags.isEmpty())
                                #foreach($!element in $!tags)
                                    #if($!element.fgShowMake == '1')
                                        <li id="med-$!element.cdMedAsse"
                                            class="layui-row-xs3 aside-link caseTag"
                                            data-type="med"
                                            data-index="$!{velocityCount}">
                                            <a href="javascript:;">
                                                <img style="display: inline-block; width: 40px; height: 40px;"
                                                     src="$!element.path">
                                                <cite style="padding-right: 2px;">
                                                    $!element.name<span id="med-dot-bg$!element.idTag" class="layui-badge-dot
                                                    #if($!element.idMedTag)layui-bg-green #else layui-bg-orange #end" style="float: right;"></span>
                                                </cite>
                                            </a>
                                        </li>
                                    #end
                                #end
                            #end
                        </ul>
                    </div>

                    <div class="layui-col-xs11" style="border-left: 1px solid #2F4056; padding-left: 5px;">
                        <form class="layui-form layui-form-pane" id="caseForm">
                            <div hidden>

                            </div>
                            <div class="layui-form-item form-item-my5">
                                <label class="layui-form-label">选择用例</label>
                                <div class="layui-input-block">
                                    <input type="text" name="caseName" id="caseName" autocomplete="off"
                                           class="layui-input"
                                           placeholder="请选择用例"
                                           style="display:inline-block;width:250px;vertical-align:middle;
                           margin-right:-5px;border: 1px solid #C9C9C9;" disabled>
                                    <button type="button" class="layui-btn layui-btn-primary" id="searchCase">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </button>
                                    <div class="layui-btn-group">
                                        <a lay-href="${basePath}/pf/p/kb/part/page" class="layui-btn">
                                            <i class="layui-icon layui-icon-add-1"></i>新增用例
                                        </a>

                                        <button id="editCase" class="layui-btn" type="button">
                                            <i class="iconfont icon-edit"></i> 编辑用例
                                        </button>
                                    </div>

                                </div>

                            </div>

                        </form>
                        <iframe id="caseHistoryTag" class='layui-col-xs12' frameborder="0"
                                style="margin: 0px 0px 0px -10px ;"
                                scrolling="no">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layadmin-shortcut">
                    <div class="layui-col-xs1">
                        <ul class="layui-row">
                            #if(!$tags.isEmpty())
                                #foreach($!element in $!assessTags)
                                    #if($!element.fgShowMake == '1')
                                        <li id="tag-$!element.cdEvaAsse"
                                            class="layui-row-xs3 aside-link assessTag"
                                            data-type="eva"
                                            data-index="$!{velocityCount}">
                                            <a href="javascript:;">
                                                <img style="display: inline-block; width: 40px; height: 40px;"
                                                     src="$!element.path">
                                                <cite style="padding-right: 2px;">
                                                    $!element.name<span id="eva-dot-bg$!element.idTag" class="layui-badge-dot
                                                    #if($!element.idEvaTag)layui-bg-green #else layui-bg-orange #end" style="float: right;"></span>
                                                </cite>
                                            </a>
                                        </li>
                                    #end
                                #end
                            #end
                        </ul>
                    </div>

                    <div class="layui-col-xs11" style="border-left: 1px solid #2F4056; padding-left: 5px;">
                        <form class="layui-form layui-form-pane" id="caseForm">
                            <div class="layui-form-item form-item-my5">
                                <label class="layui-form-label">选择用例</label>
                                <div class="layui-input-block">
                                    <input type="text" name="assessName" id="assessName" autocomplete="off"
                                           class="layui-input layui-disabled"
                                           placeholder="请选择用例"
                                           style="display:inline-block;width:250px;vertical-align:middle;
                           margin-right:-5px;border: 1px solid #C9C9C9;" disabled>
                                    <button type="button" class="layui-btn layui-btn-primary" id="searchAssess">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </button>
                                    <div class="layui-btn-group">
                                        <a lay-href="${basePath}/pf/p/kb/assess/page" class="layui-btn">
                                            <i class="layui-icon layui-icon-add-1"></i>新增用例
                                        </a>
                                        <button id="editAssess" type="button" class="layui-btn">
                                            <i class="iconfont icon-edit"></i> 编辑用例
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>

                        <iframe name="assessTag" width="100%" frameborder=0 height="100%"
                                style="margin: 0px 0px 0px -10px;"
                                id="assessTag" onload="this.height=assessTag.document.body.scrollHeight+20"></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-layout-admin">
        <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
                <button class="layui-btn" id="save">
                    <i class="iconfont icon-save-copy"></i> 保存
                </button>
                <button class="layui-btn" id="saveAs">
                    <i class="iconfont icon-lingcunwei"></i> 重载
                </button>
            </div>
        </div>
    </div>


</div>

<script src="$!{contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="$!{contextPath}/public/layui/build/js/tableSelect.js"></script>
<script src="$!{contextPath}/public/biz/js/biz/kb/casehistory/caseHistoryTabController.js"></script>


</body>
</html>