<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application id="pfprod-web-id" name="pfprod-web-server" />

	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" file="${dubbo.cache.file}"/>

	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" accesslog="${dubbo.protocol.accesslog}"/>

	<import resource="classpath*:spring/dubbo/pfprod-integration-dubbo-consumer.xml"/>
	
</beans>
