<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<link href="../../public/css/basic.css" rel="stylesheet" type="text/css" />
<link href="../../public/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../public/js/jquery-2.0.3.min.js"></script>
<script src="../../public/js/jquery.cookies.2.2.0.min.js" type="text/javascript" charset="UTF-8"></script>
<script src="../../public/js/jQuery/jquery.jcryption.3.1.0.js"></script>

 <script type="text/javascript">
   	var publicKey ='MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC8fYKh99PMD4EOrF7hIFCAQZ0mFnLkudCDk3NcL23xnP5xPR2BrTu7lN4o0EpIdnHUBYr0m8i8KOyu3FPl3eSxP33Iu+LhwK6DwsHzsab/qDAouxywa2fCNWfRCM163U5kdsfzziZTK1wVTgUnDmiEXUNi35vfZf4sOlI2SN5uqwIDAQAB';
    
	$(function() {
		$.jCryption.crypt.setPublicKey(publicKey);                //注入公钥
		
		$("#A").click(function(event) {

			event.preventDefault();
			
			var data = {};
			data['user_name'] = $("input[name='username']").val();
			
			if(!data['user_name']){
				//alert("请填写用户名");
				//return;
			};
			
			var psw=$.jCryption.crypt.encrypt($("input[name='psw']").val());
			
			if(!psw){
				alert("请填写密码");
				return;
			};

			data['password'] = psw;
			
			var url = '../../pf/r/login';
			$("#logonInfo").text('');
				
			$.ajax({
                url : url,
                type : 'POST',
                contentType : "application/json; charset=utf-8",
                data : JSON.stringify(data),
                dateType : "json",
                async:false,
				success : function(result) {
					var strJson = JSON.stringify(result);
					console.log(strJson)
					
					if(result.success == false){
						$("#logonInfo").text('登录失败:"'+strJson);
					}else{
						$("#logonInfo").append('登录成功:"' + strJson);
					}
					
				},
				error : function(result) {
					alert(JSON.stringify(result))
					$("#logonInfo").text('登录失败:"'+JSON.stringify(result));
				}
			});
			
		});
	});
	
	
</script>
<body>
<div class="main">
		<h2>
			<span>登录测试</span>
		</h2>
		<!-- 表单模块 -->
		<form id="signupform" method="post">
			<div class="formBox" style="width: 600px;">
				<div class="content">
					<table class="c4">
						<tr>
							<th>用户名：</th>
							<td><input type="text" name="username" class="inp"></input>——必填</td>
						</tr>
						<tr>
							<th>密码：</th>
							<td><input type="password" name="psw" class="inp"></input>——必填</td>
						</tr>
					</table>
				</div>
				
				<div class="form-but">
					<!-- 表单按钮区 -->
					<button type="submit" class="button-s4" id="A">登录</button>
				</div>
				
				<div>
					<label id="logonInfo"></label>
				</div>
			</div>
			<!-- 表单模块 END -->
		</form>
	</div>
</body>
</html>