<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>组件用例维护</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="$!{contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '$!{basePath}';
        var contextPath = '$!{contextPath}';
        var cdEvaAsse = '$!{cdEvaAsse}';
        var idEvaCase = '$!{idEvaCase}';
        var sheets = '$!sheets';
    </script>
</head>

<body class="body-my">

<div class="layui-row layui-col-space10">
    <div class="layui-row-md4">
        <form class="layui-form" id="useCaseForm" style="margin-top: 5px">
            <div hidden>
                <input name="idMedCase" hidden>
                <input name="cdMedAsse" hidden>
            </div>
            <div class="layui-form-item form-item-my">
                <div class="layui-inline">
                    <label class="layui-form-label">用例名称<i class="iconfont icon-required"
                                                           style="color: #f03f2d"></i></label>
                    <div class="layui-input-block">
                        <input name="name" autocomplete="off" class="layui-input"
                               placeholder="请输入用例名称" lay-verify="required|commonLength" lay-vertype="tips">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用例描述</label>
                    <div class="layui-input-block">
                        <input name="descript" autocomplete="off" class="layui-input"
                               lay-verify="descript" lay-vertype="tips"
                               placeholder="请输入用例描述">
                    </div>
                </div>
                <div class="layui-inline">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" checked="" name="fgActive" lay-skin="switch"
                           value="1" lay-text="启用|停用">
                    &nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="fgGroup" value="1" title="等效评估">
                </div>
            </div>

            <div class="layui-form-item form-item-my">
                <div class="layui-inline">
                    <label class="layui-form-label">组件类型<i class="iconfont icon-required"
                                                           style="color: #f03f2d"></i></label>
                    <div class="layui-input-block" style="width: 158px;">
                        <select name="cdMedAsse" autocomplete="off">
                            <option value="">请选择组件类型</option>
                            #foreach($element in $!sheets)
                                <option value="$!element.cdEvaAsse">$!element.name</option>
                            #end
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用例归属</label>
                    <div class="layui-input-block" style="width: 158px;">
                        <select name="fgPlat" id="fgPlat" lay-verify="required" lay-vertype="tips" disabled>
                            <option value="">请选择</option>
                            <option value="0">机构</option>
                            <option value="1">平台</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">使用次数</label>
                    <div class="layui-input-block">
                        <input name="count" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item form-item-my">
                <div class="layui-inline">
                    <label class="layui-form-label">上限分值</label>
                    <div class="layui-input-block">
                        <input name="scoreUpper" autocomplete="off" class="layui-input"
                               placeholder="请输入上限分值" lay-verify="required|commonLength" lay-vertype="tips">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下限分值</label>
                    <div class="layui-input-block">
                        <input name="scoreLower" autocomplete="off" class="layui-input"
                               lay-verify="descript" lay-vertype="tips"
                               placeholder="请输入下限分值">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">默认分值</label>
                    <div class="layui-input-block">
                        <input name="scoreDefault" autocomplete="off" class="layui-input"
                               lay-verify="descript" lay-vertype="tips"
                               placeholder="请输入默认分值">
                    </div>
                </div>
            </div>
            <hr class="layui-bg-cyan" style="margin: 0px 10px 0px 10px">
        </form>
    </div>

    <div class="layui-row-md8" id="bottomPage" style="margin: -10px 0px 0px 0px">

    </div>

    <script src="$!{contextPath}/public/layui/plugins/layui/layui.all.js"></script>
    <script src="${contextPath}/public/common/js/jquery.min.js"></script>
    <script src="${contextPath}/public/common/js/jquery.formautofill.js"></script>
    <script src="${contextPath}/public/biz/js/biz/kb/assess/kbAssessController.js"></script>

    <script>
        function fullForm(data) {
            $(document).ready(function () {
                $("#useCaseForm").autofill(data);
                layui.use('form', function () {
                    layui.form.render();
                });
            });
        };

        function openPhoto(url) {
            layui.use('common', function () {
                layui.common.openSinglePhoto(url);;
            });
        }
    </script>

</body>
</html>