<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>$!{formType}评估用例</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$!{contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="$!{contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/public/biz/iconfont/iconfont.css">
    <style>
        .layui-form-select dl {
            max-height: 150px;
        }
    </style>
    <script>
        var basePath = '$!{basePath}';
        var contextPath = '$!{contextPath}';
        var formType = '$!{formType}';
        var previewFlag = '$!{previewFlag}';
    </script>

</head>

<body class="body-my">
<div class="wrapper-content">
    <form class="layui-form" id="kbAssessForm" lay-filter="kbAssessFilter">
        <div hidden>
            <input name="idEvaCase" hidden>
            <input name="cdEvaAsse" hidden>
            <input name="scoreUpper" hidden>
            <input name="scoreLower" hidden>
            <input name="scoreDefault" hidden>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用例名称<i class="iconfont icon-required" style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <input name="name" id="name" autocomplete="off" class="layui-input"
                       placeholder="请输入用例名称" lay-verify="required|commonLength" lay-vertype="tips">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">组件类型<i class="iconfont icon-required" style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <select name="cdEvaAsse" id="cdEvaAsse" autocomplete="off" lay-verify="required" lay-vertype="tips"
                        lay-vertype="tips">
                    <option value="">请选择组件类型</option>
                    #foreach($element in $!assesses)
                        <option value="$!element.cdEvaAsse">$!element.name</option>
                    #end
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用例描述</label>
            <div class="layui-input-block">
                <input name="descript" id="descript" autocomplete="off" class="layui-input"
                       lay-verify="descript" lay-vertype="tips"
                       placeholder="请输入用例描述">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">等效评估<i class="iconfont icon-required"
                                                   style="color: #f03f2d"></i></label>
            <div class="layui-input-block">
                <input type="checkbox" checked="" name="fgGroup" id="fgGroup" lay-skin="switch"
                       value="1" lay-text="NO|OFF">
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">状态<i class="iconfont icon-required"
                                                     style="color: #f03f2d"></i></label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" name="fgActive" id="fgActive" lay-skin="switch"
                           value="1" lay-text="NO|OFF">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="saveBtn" class="layui-btn" lay-submit="" lay-filter="addKbAssess">
                        <i class="iconfont icon-save-copy"></i> 保存
                    </button>
                </div>
            </div>
    </form>
</div>

<script src="$!{contextPath}/public/layui/plugins/layui/layui.all.js"></script>
<script src="${contextPath}/public/common/js/jquery.min.js"></script>
<script src="${contextPath}/public/common/js/jquery.formautofill.js"></script>
<script src="${contextPath}/public/biz/js/biz/kb/assess/kbAssessFormController.js"></script>

<script>
    function fullForm(data) {
        $(document).ready(function () {
            $("#kbAssessForm").autofill(data);
            layui.use('form', function () {
                layui.form.render();
            });
        });
    }
</script>

</body>
</html>