<!DOCTYPE html>
<html style="padding-top: 0px">
<head>
    <meta charset="utf-8">
    <title>${formType}消息模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '${basePath}';
        var formType = '${formType}';
        var templateType = '${templateType}';
    </script>
</head>

<body>

<div class="wrapper-content">
    <div class="layui-tab" lay-filter="templateTab">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="sms">短信模板</li>
            <li lay-id="email">邮件模板</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" id="smsform">
                    <div hidden>
                        <input name="templateId" hidden>
                    </div>

                    <div class="layui-form-item form-item-my5">
                        <label class="layui-form-label">模板名称<i class="iconfont icon-required"
                                                               style="color: #f03f2d"></i></label>
                        <div class="layui-input-block">
                            <input type="text" name="templateName" lay-verify="required|templateName"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item form-item-my5">
                        <label class="layui-form-label">模板编码<i class="iconfont icon-required"
                                                               style="color: #f03f2d"></i></label>
                        <div class="layui-input-block">
                            <input type="text" name="templateCode" lay-verify="required|templateCode"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div hidden>
                        <input name="templateType" value="sms" hidden>
                    </div>
                    <div class="layui-form-item layui-form-text form-item-my5">
                        <label class="layui-form-label">模板内容<i class="iconfont icon-required"
                                                               style="color: #f03f2d"></i></label>
                        <div class="layui-input-block">
                            <textarea name="content" class="layui-textarea" lay-verify="required"
                                      autocomplete="off"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="addSms">
                                <i class="iconfont icon-save-copy"></i> 保存
                            </button>
                            #if(${formType} == 'add')
                                <button type="reset" class="layui-btn layui-btn-danger">
                                    <i class="iconfont icon-reset"></i> 重置
                                </button>
                            #end
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form" id="emailform">
                    <div hidden>
                        <input name="templateId" hidden>
                    </div>

                    <div class="layui-form-item form-item-my5">
                        <label class="layui-form-label">模板名称<i class="iconfont icon-required"
                                                               style="color: #f03f2d"></i></label>
                        <div class="layui-input-block">
                            <input type="text" name="templateName" lay-verify="required|templateName"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item form-item-my5">
                        <label class="layui-form-label">模板编码<i class="iconfont icon-required"
                                                               style="color: #f03f2d"></i></label>
                        <div class="layui-input-block">
                            <input type="text" name="templateCode" lay-verify="required|templateCode"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div hidden>
                        <input name="templateType" value="email" hidden>
                    </div>
                    <div class="layui-form-item layui-form-text form-item-my5">
                        <label class="layui-form-label">模板内容<i class="iconfont icon-required"
                                                               style="color: #f03f2d"></i></label>
                        <div class="layui-input-block">
                            <textarea id="emailContent" name="content" style="display: none;">
                            </textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="addEmail">
                                <i class="iconfont icon-save-copy"></i> 保存
                            </button>
                            #if(${formType} == 'add')
                                <button type="reset" class="layui-btn layui-btn-danger">
                                    <i class="iconfont icon-reset"></i> 重置
                                </button>
                            #end
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="${contextPath}/public/layui/plugins/layui/layui.js"></script>
<script src="${contextPath}/public/biz/js/system/message/messageFormController.js"></script>
<script src="${contextPath}/public/common/js/jquery.min.js"></script>
<script src="${contextPath}/public/common/js/jquery.formautofill.js"></script>

<script>
    function fullForm(data) {
        $(document).ready(function () {
            layui.use(['layedit'], function () {
                layui.form.render();
                var editIndex = layui.layedit.build('emailContent', {
                    tool: [
                        'strong' //加粗
                        ,'italic' //斜体
                        ,'underline' //下划线
                        ,'del' //删除线
                        ,'|' //分割线
                        ,'left' //左对齐
                        ,'center' //居中对齐
                        ,'right' //右对齐
                        ,'link' //超链接
                        ,'unlink' //清除链接
                        ,'face' //表情
                    ]
                }); //建立编辑器
            });
            if (data.templateType == 'email') {
                $("#emailform").autofill(data);
                $("#emailContent").val(data.content);
            } else {
                $("#smsform").autofill(data);
            }
            layui.use(['form'], function () {
                layui.form.render();
            });

        });
    }
</script>

</body>
</html>