<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>机构管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${contextPath}/public/layui/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${contextPath}/public/biz/css/common.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/public/biz/iconfont/iconfont.css">

    <script>
        var basePath = '${basePath}';
    </script>
</head>

<body>

<div class="wrapper-content">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-btn-group">
                <button type="button" class="layui-btn edit">
                    <i class="iconfont icon-edit"></i> 编辑
                </button>
                <button type="button" class="layui-btn auth">
                    <i class="iconfont icon-renzheng"></i> 认证
                </button>
                <button type="button" class="layui-btn reject">
                    <i class="iconfont icon-dianzidanjudanjuxitong-"></i> 驳回
                </button>
            </div>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" autocomplete="off"
                       placeholder="请输入机构名称">
            </div>
            <div class="layui-input-inline" style="width: 90px;">
                <select name="sdReg" id="sdReg">
                    <option value="">状态</option>
                    <option value="0">未处理</option>
                    <option value="1">认证</option>
                    <option value="2">驳回</option>
                </select>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">申请时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="gmtApply" class="layui-input" id="gmtApplyDate" placeholder=" ~ ">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" lay-submit lay-filter="orgAuthSearchFilter">
                    <i class="iconfont icon-query"></i> 查询
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">
                    <i class="iconfont icon-reset"></i> 重置
                </button>
            </div>
        </div>
    </form>
    <table id="orgAuthTable" lay-filter="orgAuthTableFilter">
    </table>

</div>

<script src="${contextPath}/public/layui/plugins/layui/layui.all.js"></script>
<script src="${contextPath}/public/biz/js/system/org/orgAuthController.js"></script>

<script type="text/html" id="orgBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="iconfont icon-edit"></i> 编辑</a>
</script>

<script type="text/html" id="sdRegTpl">
    {{#  if(d.sdReg == 0){ }}
    <span class="label layui-bg-orange">未处理</span>
    {{#  } }}
    {{#  if(d.sdReg == 1){ }}
    <span class="label layui-bg-green">认证</span>
    {{#  } }}
    {{#  if(d.sdReg == 2){ }}
    <span class="label layui-bg-red">驳回</span>
    {{#  } }}
</script>

</body>

</html>